
/* form */
.mp-Form-body.sdk-custom {
    box-shadow: none;
}
.mp-Form-controlGroup {
    position: relative;
}
.centered-control-group {
    text-align: center;
}
.mp-Form-controlGroup+.mp-Form-controlGroup {
    margin-top: 12px;
}
.form-squeeze {
    width: 100%;
    margin: 0 auto;
}
.mp-Form-controlGroup {
    position: relative;
}
.mp-Form-controlGroup-label {
    font-family: Helvetica,sans-serif;
    font-family: var(--mp-font-base,Helvetica,sans-serif);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: block;
    margin-bottom: 4px;
}
.optional-label {
    display: none;
}
.mp-Button--green {
    font-family: sans-serif, Calibri;
    font-family: var(--mp-font-accent--light,sans-serif,Arial);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    background: green;
    border-color: green;
    color: white;
}

.mp-Input, .mp-LicensePlate input, .mp-Select select, .mp-TagsInput, .mp-Textarea {
    font-family:Helvetica, Arial;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #b6bbc1;
    border-radius: 3px;
    box-shadow: inset 0 3px 0 0 hsla(213,8%,74%,.2);
    box-sizing: border-box;
    color: #2d3c4d;
    display: inline-block;
    height: 35px;
    padding: 4px 8px;
    vertical-align: middle;
    width: 100%;
}

.invalid.mp-TagsInput, .invalid.mp-Textarea, .is-invalid.mp-TagsInput, .is-invalid.mp-Textarea, .mp-Input.invalid, .mp-Input.is-invalid, .mp-LicensePlate input.invalid, .mp-LicensePlate input.is-invalid, .mp-Select select.invalid, .mp-Select select.is-invalid {
    border: 1px solid #c5283d;
}

.mp-Form-controlGroup-validationMessage--error {
    color: #c5283d;
}

.mp-Form-controlGroup-validationMessage {
    font-family: Arial,sans-serif;
    font-family: var(--mp-font-base--light,Arial,sans-serif);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    margin-top: 4px;
}

.mp-Input.mp-autocomplete {
    border-radius: 3px 0 0 3px;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}
.mp-Input:focus, .mp-LicensePlate input:focus, .mp-Select select:focus, .mp-TagsInput:focus, .mp-Textarea:focus {
    border-color: #116db4;
    box-shadow: 0 0 0 3px rgba(17,109,180,.2), inset 0 2px 0 0 hsla(213,8%,74%,.2);
    outline: 0;
}
.mp-Select {
    position: relative;
}
.mp-Select select {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border-color: #b6bbc1;
    box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.05);
    cursor: pointer;
    font-family:Helvetica, Arial;
    font-style: normal;
    line-height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #b6bbc1;
    box-sizing: border-box;
    color: #2d3c4d;
    display: inline-block;
    height: 35px;
    padding: 4px 8px;
    vertical-align: middle;
    width: 100%;
    padding-right: 32px;
}
.mp-Select select:focus, .mp-Select select:hover {
    background: #fff;
}
.mp-Select:after {
    background: url(../../images/icons.png) no-repeat;
    background-size: auto 100%;
    background-position: 2.9882604055496267% 0;
    content: "";
    display: block;
    height: 24px;
    pointer-events: none;
    position: absolute;
    right: 8px;
    top: 6px;
    width: 24px;
}
/* text paragraph */
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
.mp-text-paragraph, .mp-text-paragraph-bold {
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}
.heading-2, h2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}
.heading-3, h3 {
    font-family: Helvetica;
    font-weight: 300;
    font-size: 18px;
}
.heading-3, .heading-4, h3, h4 {
    font-style: normal;
    line-height: 22px;
}
h1.title, h2.title, h3.title, h4.title {
    font-family:Helvetica, Arial;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 5px;
    word-wrap: break-word;
}
.mp-text-meta {
    font-family:Helvetica, Arial;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}
.mp-text-price-label {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.mp-TextLink {
    font-family:Helvetica, Arial;
    font-style: normal;
    font-weight: 400;
    color: #116db4;
    color: var(--mp-color-action,#116db4);
    font-size: 16px;
    line-height: 20px;
    text-decoration: none !important;
}
.mp-TextLink:hover {
    color: #1589e3;
}
.paragraphs-security {
    margin-top: 4px;
}
.mp-text-header1 {
font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
}
.mp-text-header3, .mp-text-header4 {
    font-style: normal;
    line-height: 22px;
    font-weight: 300;
    font-size: 18px;
    font-family: Helvetica;
}
/* button&icons */
.mp-Button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    min-height: 40px;
    padding: 11px 24px;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
.mp-Button[disabled] {
    cursor: default;
}
.mp-Button:focus, .mp-Button:hover {
    outline: 0;
    text-decoration: none;
}
.mp-Button--primary, .mp-Button--round {
font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    background: #116db4;
    box-shadow: inset 0 -2px 0 0 #0f5f9d;
    color: #fff;
}
.mp-Button--round {
    border-radius: 50%;
    height: 34px;
    min-height: 34px;
    padding: 0;
    width: 34px;
}
.mp-Button--primary:hover, .mp-Button--round:focus, .mp-Button--round:hover {
    background: #137bcb;
    box-shadow: inset 0 -2px 0 0 #116db4;
    color: #fff;
}
.mp-Button--secondary {
    font-family: sans-serif, Calibri;
    font-family: var(--mp-font-accent--light,sans-serif,Arial);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    background: #f7f7f6;
    border-color: #e6e4e1;
    box-shadow: inset 0 -2px 0 0 #ebebe9;
    color: #2d3c4d;
}

.mp-Button--dangerous {
    font-family: sans-serif, Calibri;
    font-family: var(--mp-font-accent--light,sans-serif,Arial);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    background: red;
    border-color: red;
    color: white;
}

.mp-Button--secondary[disabled], .mp-Button--secondary[disabled]:hover {
    background: #e6e4e1;
    border-color: #e6e4e1;
    box-shadow: none;
    color: #fff;
}
.mp-Button--secondary:focus, .mp-Button--secondary:hover {
    background: #fff;
    box-shadow: inset 0 -2px 0 0 #f7f7f6;
    color: #2d3c4d;
}
.mp-Button--flat {
    background: #fff;
    color: #116db4;
    font-family:Helvetica, Arial;
    font-weight: 300;
}
.mp-Button--flat:hover {
    background-color: #f2f2f2;
}
.mp-Button--flat:active {
    box-shadow: inset 0 2px 0 0 rgba(0,0,0,.05);
    color: #0d5185;
}
.mp-Button--flat:focus {
    background: #f7f7f6;
    color: #1589e3;
}
.mp-Button--callToAction {
    color:#fff;
    background: #137bcb;
    box-shadow: inset 0 -2px 0 0 #116db4;
    font-family: Helvetica;
    font-weight: 400;
}
.mp-Button--callToAction:hover {
    background: #1589e3;
    box-shadow: inset 0 -2px 0 0 #137bcb;
    color: #fff;
}
.mp-Button--primary[disabled], .mp-Button--primary[disabled]:hover, .mp-Button--round[disabled], .mp-Button--round[disabled]:hover {
    background: #e6e4e1;
    box-shadow: none;
    color: #fff;
}
.mp-Button--sm {
    min-height: 35px;
    padding: 8px 24px 9px;
}
.mp-Button--xs {
    font-family:Helvetica, Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    border-radius: 3px;
    min-height: 32px;
    padding: 7px 16px;
}
.mp-svg-pin-callToAction-foreground {
    background: url(../../images/icons.png) no-repeat;
    background-size: auto 100%;
    background-position: 62.86019210245464% 0;
}
.mp-Button-icon {
    display: inline-block;
    margin: -10px -16px;
    height: 32px;
    width: 32px;
    position: relative;
}
.mp-Button-icon--left.mp-Button-icon {
    display: inline-block;
    margin: -10px 0 -10px -10px;
}

.mp-Button-icon--right.mp-Button-icon {
    display: inline-block;
    margin: -10px 0 -10px 5px;
}
.mp-Button-icon--vertical.mp-Button-icon {
    display: block;
    margin: -4px auto 2px;
}
.mp-Button--round .mp-svg-arrow-left-white {
    height: 40px;
    margin-left: -4px;
    margin-top: -5px;
}
.mp-svg-arrow-black-right {
    background: url(../../images/icons.png) no-repeat;
    background-size: auto 100%;
    background-position: 1.703415% 0;
}
.mp-Button--round .mp-Button-icon {
    display: block;
    height: 100%;
    margin: 0;
    width: 100%;
}
.mp-btn-medium {
    padding-left: 24px !important;
    padding-right: 24px !important;
    height: 40px;
    border-radius: 4px;
}
.mp-btn-primary {
    font-family: Helvetica, Arial !important;
    font-size: 16px;
    font-weight: normal !important;
    color: #FFF;
    background: #116DB4;
    box-shadow: inset 0px -2px 0px 0px #0F61A1 !important;
    border: none;
    padding-top: 0;
}
.mp-btn-secondary {
    font-family: Helvetica, Arial !important;
    font-size: 16px !important;
    color: #2D3C4D !important;
    font-weight: 300 !important;
    background-color: #F7F7F6 !important;
    box-shadow: inset 0 -2px 0 0 #DDDDDC !important;
    border: 1px solid #D4D1CD !important;
    padding-top: 0;
}
.dread-button {
    background-color: #9B59B5;
    box-shadow: inset 0 -2px 0 0 #9B59B5;
    min-width: 315px;
}

.pgp-button {
    background-color: #0093DD;
    box-shadow: inset 0 -2px 0 0 #0093DD;
    min-width: 315px;
}

.pgp-button:hover {
    color: #fff;
    background-color: #90CBEF;
    box-shadow: inset 0 0 0 0 gray;
}


.pgp-button .button-text, .google-button .button-text {
    padding-left: 16px;
}


.dread-button .button-text, .google-button .button-text {
    padding-left: 16px;
}
.touch a:hover {
    text-decoration: none;
}
.dread-button:hover, .google-button:hover {
    text-decoration: none;
}
.dread-button:hover {
    color: #fff;
    background-color: #9B59B5;
    box-shadow: inset 0 0 0 0 gray;
}
.google-button {
    background-color: #4285f4;
    box-shadow: inset 0 -2px 0 0 #72a4f7;
    min-width: 315px;
}
.google-button:hover {
    color: #fff;
    background-color: #4285f4;
    box-shadow: inset 0 -2px 0 0 #72a4f7;
}
/* widget */
.mp-logo {
    margin-left: -18.5px;
    margin-top: 1px;
}
.mp-Badge {
    background: #116db4;
    border-radius: 16px;
    box-shadow: 0 0 0 2px #fff;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    left: -8px;
    line-height: 6px;
    margin-right: -11px;
    padding: 3.5px 4px 4px;
    position: relative;
    text-align: center;
    top: -6px;
}
.mp-Toggle {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
    display: block;
    position: relative;
}
.mp-Toggle-input {
    left: 10px;
    margin: 0;
    outline: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mp-Toggle-input:checked+.mp-Toggle-label {
    background: #e7f0f7;
}
.mp-Toggle-label {
    font-family:Helvetica, Arial;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #b6bbc1;
    border-radius: 3px;
    display: block;
    outline: 0;
    padding: 6.5px 4px 6.5px 30px;
    pointer-events: none;
}
.mp-Nav-breadcrumb {
    margin: 12px 0;
    overflow: hidden;
}
.mp-Nav-breadcrumb-item, .mp-Nav-breadcrumb.mp-Nav-breadcrumb--lg .mp-Nav-breadcrumb-item {
    font-family:Helvetica, Arial;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}
.mp-Nav-breadcrumb-item {
    font-size: 14px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}
.mp-Nav-breadcrumb-item+.mp-Nav-breadcrumb-item {
    margin-left: 24px;
    position: relative;
}
.mp-Nav-breadcrumb-item+.mp-Nav-breadcrumb-item:after {
    background: url(../../images/icons.png) no-repeat;
    background-size: auto 100%;
    background-position: 6.830309498399147% 0;
    content: "";
    display: block;
    height: 100%;
    left: -24px;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 24px;
}
.mp-Nav-breadcrumb-item .mp-TextLink, .mp-Nav-breadcrumb-item a {
    font-family:Helvetica, Arial;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
.mp-Nav-breadcrumb.mp-Nav-breadcrumb--lg .mp-Nav-breadcrumb-item {
    font-size: 16px;
}
.mp-Nav-dropdown {
    position: relative;
}
.mp-Nav-dropdown-menu {
    display: none;
    left: 0;
    min-width: 220px;
    position: absolute;
    top: 34px;
    z-index: 5000010;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 4px 1px rgba(0,0,0,.14);
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.mp-Nav-dropdown-menu, .mp-Nav-pills {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 4px 1px rgba(0,0,0,.14);
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.mp-Nav-dropdown-menu>li.mp-Nav-pill--right, .mp-Nav-pills>li.mp-Nav-pill--right {
    text-align: right;
}
.mp-Nav-dropdown-menu>li, .mp-Nav-pills>li {
    outline: 0;
    overflow: hidden;
}
.mp-Nav-dropdown-menu.mp-autocomplete {
    top: 2px;
    width: 100%;
}
.mp-Nav-dropdown-menu>li>a, .mp-Nav-pills>li>a {
    font-family: Arial,sans-serif;
    font-family: var(--mp-font-base,Arial,sans-serif);
    font-style: normal;
    font-weight: 400;
    color: #116db4;
    color: var(--mp-color-action,#116db4);
    font-size: 14px;
    line-height: 20px;
    outline: 0;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 11px 16px;
}
.mp-Nav-dropdown-menu>li:last-of-type>a, .mp-Nav-pills>li:last-of-type>a {
    border-bottom: 0;
}
.mp-Spinner {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #e6e4e1;
    font-size: 6px;
    margin: 20px auto;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translate3d(0,-15px,0);
    transform: translate3d(0,-15px,0);
    animation-fill-mode: both;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
}
.mp-Card, .mp-Form-body, .mp-Form-footer, .mp-Listing, .mp-Listing-card, .mp-Listing-compact, .mp-NotificationListItem-wrapper {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.14);
    color: #2d3c4d;
    overflow: hidden;
}
.mp-Card--rounded.mp-Form-body, .mp-Card--rounded.mp-Form-footer, .mp-Card.mp-Card--rounded, .mp-Listing, .mp-Listing-card, .mp-Listing-compact, .mp-NotificationListItem-wrapper {
    border-radius: 3px;
}
.mp-Card-block {
    padding: 20px;
}
.mp-Card-block.mp-Card-block--padded-no {
    padding: 0;
}

/* Tabs */
.mp-Tabs {
    display: flex;
    flex-wrap: wrap
}

.mp-Tabs--center {
    justify-content: center
}

.mp-Tabs .mp-Tabs-input {
    opacity: 0;
    position: absolute
}

.mp-Tabs .mp-Tabs-input:focus+.mp-Tabs-label {
    z-index: 1
}

.mp-Tabs .mp-Tabs-input:checked+.mp-Tabs-label+.mp-Tabs-panel {
    display: block
}

.mp-Tabs .mp-Tabs-label {
    cursor: pointer;
    width: auto
}

.mp-Tabs .mp-Tabs-panel {
    display: none;
    order: 99;
    width: 100%
}

/* Tab */
.mp-Tab-bar {
    display: block;
    font-size: 0;
    overflow: hidden;
    text-align: left
}

.mp-Tab-bar.mp-Tab-bar--center {
    text-align: center
}

.mp-Tab-bar--contrast .mp-Step,.mp-Tab-bar--contrast .mp-Tab,.mp-Tab-bar--contrast .mp-Tabs .mp-Tabs-label,.mp-Tabs .mp-Tab-bar--contrast .mp-Tabs-label {
    color: #b6bbc1;
    margin: 0;
    padding: 8px
}

.mp-Tab-bar--contrast .is-selected.mp-Step,.mp-Tab-bar--contrast .mp-Step:hover,.mp-Tab-bar--contrast .mp-Tab--selected,.mp-Tab-bar--contrast .mp-Tab.is-selected,.mp-Tab-bar--contrast .mp-Tab:hover,.mp-Tab-bar--contrast .mp-Tabs .is-selected.mp-Tabs-label,.mp-Tab-bar--contrast .mp-Tabs .mp-Tabs-input:checked+.mp-Tabs-label,.mp-Tab-bar--contrast .mp-Tabs .mp-Tabs-label:hover,.mp-Tabs .mp-Tab-bar--contrast .is-selected.mp-Tabs-label,.mp-Tabs .mp-Tab-bar--contrast .mp-Tabs-input:checked+.mp-Tabs-label,.mp-Tabs .mp-Tab-bar--contrast .mp-Tabs-label:hover {
    border-bottom-color: #eda566;
    color: #fff
}

@media screen and (max-width: 767px) {
    .mp-Tab-bar--contrast .is-selected.mp-Step,.mp-Tab-bar--contrast .mp-Step:hover,.mp-Tab-bar--contrast .mp-Tab--selected.mp-Step,.mp-Tab-bar--contrast .mp-Tab.is-selected,.mp-Tab-bar--contrast .mp-Tab.mp-Tab--selected,.mp-Tab-bar--contrast .mp-Tab:hover,.mp-Tab-bar--contrast .mp-Tabs .is-selected.mp-Tabs-label,.mp-Tab-bar--contrast .mp-Tabs .mp-Tab--selected.mp-Tabs-label,.mp-Tab-bar--contrast .mp-Tabs .mp-Tabs-input:checked+.mp-Tabs-label,.mp-Tab-bar--contrast .mp-Tabs .mp-Tabs-label:hover,.mp-Tabs .mp-Tab-bar--contrast .is-selected.mp-Tabs-label,.mp-Tabs .mp-Tab-bar--contrast .mp-Tab--selected.mp-Tabs-label,.mp-Tabs .mp-Tab-bar--contrast .mp-Tabs-input:checked+.mp-Tabs-label,.mp-Tabs .mp-Tab-bar--contrast .mp-Tabs-label:hover {
        border-bottom:0;
        color: #eda566
    }
}

.mp-Tab-bar--has-sticky,.mp-Tab-bar.has-sticky {
    clear: both
}

@media screen and (min-width: 768px) {
    .mp-Tab-bar--has-sticky .is-sticky.mp-Step,.mp-Tab-bar--has-sticky .mp-Tab--sticky,.mp-Tab-bar--has-sticky .mp-Tab.is-sticky,.mp-Tab-bar--has-sticky .mp-Tabs .is-sticky.mp-Tabs-label,.mp-Tab-bar.has-sticky .is-sticky.mp-Step,.mp-Tab-bar.has-sticky .mp-Tab--sticky,.mp-Tab-bar.has-sticky .mp-Tab.is-sticky,.mp-Tab-bar.has-sticky .mp-Tabs .is-sticky.mp-Tabs-label,.mp-Tabs .mp-Tab-bar--has-sticky .is-sticky.mp-Tabs-label,.mp-Tabs .mp-Tab-bar.has-sticky .is-sticky.mp-Tabs-label {
        float:right
    }
}

.mp-Step,.mp-Tab,.mp-Tabs .mp-Tabs-label {
    font-family: Arial,sans-serif;
    font-family: var(--mp-font-base--light,Arial,sans-serif);
    font-style: normal;
    font-weight: 300;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
    color: #818a95;
    display: inline-block;
    font-size: 16px;
    line-height: 23px;
    margin: 0 8px;
    outline: 0;
    padding: 8px 20px;
    text-decoration: none;
    vertical-align: middle
}

.mp-Step:hover,.mp-Tab:hover,.mp-Tabs .mp-Tabs-label:hover {
    border-bottom-color: #2d3c4d;
    color: #2d3c4d;
    text-decoration: none
}

.is-selected.mp-Step,.mp-Tab--selected,.mp-Tab.is-selected,.mp-Tabs .is-selected.mp-Tabs-label,.mp-Tabs .mp-Tabs-input:checked+.mp-Tabs-label {
    font-family: Arial,sans-serif;
    font-family: var(--mp-font-base,Arial,sans-serif);
    font-style: normal;
    font-weight: 400;
    border-bottom-color: #2d3c4d;
    color: #2d3c4d
}

.mp-Tab--button {
     font-family: sans-serif, Calibri;
    font-family: var(--mp-font-accent--light,sans-serif,Arial);
    font-style: normal;
    font-weight: 300;
    background: #f7f7f6;
    border-color: #e6e4e1;
    border-style: solid;
    border-width: 1px 0;
    box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.05);
    color: #2d3c4d;
    height: 35px;
    line-height: 16px;
    margin: 0;
    padding: 8px 24px 9px
}

.mp-Tab--button+.mp-Tab--button {
    border-left-width: 1px
}

.mp-Tab--button:first-child {
    border-left-width: 1px;
    border-radius: 3px 0 0 3px
}

.mp-Tab--button:last-child {
    border-radius: 0 3px 3px 0;
    border-right-width: 1px
}

.mp-Tab--button:hover {
    background: #fff
}

.mp-Tab--button--selected,.mp-Tab--button.is-selected {
    background: #fff;
    box-shadow: inset 0 2px 0 0 #f7f7f6
}
/* Topbar */
.mp-Topbar {
    background-color: #2d3c4d;
    padding-top: 16px;
    position: relative
}

.mp-Topbar .mp-Tab-bar {
    background: #2d3c4d
}

.mp-Tabs .mp-Topbar .mp-Tab-bar .mp-Tabs-label,.mp-Topbar .mp-Tab-bar .mp-Step,.mp-Topbar .mp-Tab-bar .mp-Tab,.mp-Topbar .mp-Tab-bar .mp-Tabs .mp-Tabs-label {
    color: #e6e4e1;
    margin: 0;
    padding: 8px
}

.mp-Tabs .mp-Topbar .mp-Tab-bar .is-selected.mp-Tabs-label,.mp-Tabs .mp-Topbar .mp-Tab-bar .mp-Tabs-input:checked+.mp-Tabs-label,.mp-Tabs .mp-Topbar .mp-Tab-bar .mp-Tabs-label:hover,.mp-Topbar .mp-Tab-bar .is-selected.mp-Step,.mp-Topbar .mp-Tab-bar .mp-Step:hover,.mp-Topbar .mp-Tab-bar .mp-Tab--selected,.mp-Topbar .mp-Tab-bar .mp-Tab.is-selected,.mp-Topbar .mp-Tab-bar .mp-Tab:hover,.mp-Topbar .mp-Tab-bar .mp-Tabs .is-selected.mp-Tabs-label,.mp-Topbar .mp-Tab-bar .mp-Tabs .mp-Tabs-input:checked+.mp-Tabs-label,.mp-Topbar .mp-Tab-bar .mp-Tabs .mp-Tabs-label:hover {
    border-bottom-color: #fdfdfd;
    color: #fdfdfd
}

@media screen and (max-width: 767px) {
    .mp-Tabs .mp-Topbar .mp-Tab-bar .mp-Tabs-label,.mp-Topbar .mp-Tab-bar .mp-Step,.mp-Topbar .mp-Tab-bar .mp-Tab,.mp-Topbar .mp-Tab-bar .mp-Tabs .mp-Tabs-label {
        padding:4px 8px
    }

    .mp-Tabs .mp-Topbar .mp-Tab-bar .is-selected.mp-Tabs-label,.mp-Tabs .mp-Topbar .mp-Tab-bar .mp-Tab--selected.mp-Tabs-label,.mp-Tabs .mp-Topbar .mp-Tab-bar .mp-Tabs-input:checked+.mp-Tabs-label,.mp-Tabs .mp-Topbar .mp-Tab-bar .mp-Tabs-label:hover,.mp-Topbar .mp-Tab-bar .is-selected.mp-Step,.mp-Topbar .mp-Tab-bar .mp-Step:hover,.mp-Topbar .mp-Tab-bar .mp-Tab--selected.mp-Step,.mp-Topbar .mp-Tab-bar .mp-Tab.is-selected,.mp-Topbar .mp-Tab-bar .mp-Tab.mp-Tab--selected,.mp-Topbar .mp-Tab-bar .mp-Tab:hover,.mp-Topbar .mp-Tab-bar .mp-Tabs .is-selected.mp-Tabs-label,.mp-Topbar .mp-Tab-bar .mp-Tabs .mp-Tab--selected.mp-Tabs-label,.mp-Topbar .mp-Tab-bar .mp-Tabs .mp-Tabs-input:checked+.mp-Tabs-label,.mp-Topbar .mp-Tab-bar .mp-Tabs .mp-Tabs-label:hover {
        border-bottom: 0;
        color: #fdfdfd
    }
}

.mp-Topbar .mp-Topbar-inner-wrapper {
    margin: 0 auto;
    max-width: 991px;
    padding: 0 8px
}

.mp-Topbar .mp-Topbar-inner-wrapper:after,.mp-Topbar .mp-Topbar-inner-wrapper:before {
    content: " ";
    display: table
}

.mp-Topbar .mp-Topbar-inner-wrapper:after {
    clear: both
}

.mp-Topbar .mp-Topbar-title {
    font-family: sans-serif, Calibri;
    font-family: var(--mp-font-accent--light,sans-serif,Arial);
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    color: #fdfdfd;
    float: left;
    margin: 12px 0 0;
    padding: 4px
}

@media screen and (max-width: 767px) {
    .mp-Topbar {
        padding:16px
    }

    .mp-Topbar .mp-Topbar-title {
        font-size: 24px;
        margin: 0;
        padding: 0 0 0 8px
    }
}

.mp-Tab-bar.sdk-custom .mp-Tab {
    padding: 8px 12px;
    font-size: 14px;
}
.mp-Step, .mp-Tab, .mp-Tabs .mp-Tabs-label {
    font-family:Helvetica, Arial;
    font-style: normal;
    font-weight: 300;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
    color: #818a95;
    display: inline-block;
    font-size: 16px;
    line-height: 23px;
    margin: 0 8px;
    outline: 0;
    padding: 8px 20px;
    text-decoration: none;
    vertical-align: middle;
}
.mp-Step:hover, .mp-Tab:hover, .mp-Tabs .mp-Tabs-label:hover {
    border-bottom-color: #2d3c4d;
    color: #2d3c4d;
    text-decoration: none;
}
.mp-Tab--selected {
font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 1.125em;
    border-bottom-color: #eda566;
    color: #2d3c4d;
    width: 100%;
}
.mp-Card-block+.mp-Card-block {
    border-top: 1px solid #e6e4e1;
}
/* chips */
.mp-Chips {
    margin-bottom: 10px;
}
.mp-Chips--sticky {
    position: static;
    background-color: var(--mp-color-screen-background);
    z-index: 9;
    top: 122px;
}
.mp-Chips .chipsTitle {
    font-family:Helvetica, Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.mp-Chip {
    font-family:Helvetica, Arial;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    background: #116db4;
    border: 1px solid #116db4;
    border-radius: 28px;
    color: #fff;
    display: inline-block;
    height: 28px;
    line-height: 26px;
    margin: 0 4px 4px 0;
    padding: 0 12px;
}
/* view control */
.mp-ViewControl {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}
.mp-ViewControl-group {
    align-items: center;
    display: flex;
}
.mp-ViewControl-group--view-options {
    display: flex;
}
.mp-ViewControl-group--view-options button:first-child {
    border-radius: 3px 0 0 3px;
}
.mp-ViewControl-group--functional-options {
    position: relative;
}
.mp-ViewControl-sortByLabel {
    font-family:Helvetica, Arial;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-right: 4px;
}
.mp-ViewControl-group--functional-options .mp-ViewControl-sort-button, .mp-ViewControl-group--functional-options:nth-child(3) {
    display: none;
}
/* listings */
.listings a {
    font-size: 0;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 23%;
    text-align: center;
    overflow: hidden;
    border: 1px solid #b6bbc1;
    box-sizing: border-box;
}
.listings a+a {
    margin-left: 2.66667%;
}
.listings a:hover .content {
    bottom: -60px;
}
.listings img {
    height: 100px;
    max-width: 147px;
}
.listings .heading {
    font-family:Helvetica, Arial;
    font-style: normal;
    font-weight: 400;
}
.listings .header h3, .listings .price div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.listings .content {
    position: absolute;
    width: 100%;
    color: #fff;
    bottom: 0;
    font-size: 13px;
    line-height: 18px;
    background-color: rgba(0,0,0,.4);
    padding: 4px;
    text-align: left;
    box-sizing: border-box;
    transition: bottom .4s;
    font-family:Helvetica, Arial;
    font-style: normal;
    font-weight: 400;
}
.listings .header h3, .listings .price div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mp-Listings {
    padding-inline-start: 0;
    list-style: none;
    padding: 0;
    margin: 0;
}
.mp-Listing {
    box-sizing: border-box;
    overflow: hidden;
    padding: 4px;
}
.mp-Listing a {
    text-decoration: none;
}
.mp-Listing--list-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    margin-bottom: 1px;
}
.mp-Listing--list-item .mp-Listing-coverLink {
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
    flex-direction: row;
}
.mp-Listing--list-item .mp-Listing-coverLink--noop {
    pointer-events: none;
}
.mp-Listing--list-item .mp-Listing-sellerCoverLink {
    display: flex;
    pointer-events: auto;
}
.mp-Listing--list-item .mp-Listing-image-container {
    display: flex;
    flex: 0 1 15%;
    flex-direction: column;
    margin: 0;
    min-width: 110px;
    justify-content: center;
}
.mp-Listing--list-item .mp-Listing-image-container .mp-Listing-image-item {
    box-sizing: border-box;
    text-align: center;
}
.mp-Listing--list-item .mp-Listing-image-container .mp-Listing-image-item:before {
    -webkit-filter: brightness(1.6) blur(20px);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    filter: brightness(1.6) blur(20px);
    height: 100%;
    position: absolute;
    width: 100%;
}
.mp-Listing--list-item .mp-Listing-image-container .mp-Listing-image-item--main {
    align-items: center;
    display: flex;
    flex: 0 1 100%;
    justify-content: center;
    margin-bottom: 4px;
    min-height: 84px;
    max-height: 120px;
    max-width: 120px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.mp-Listing--list-item .mp-Listing-image-container .mp-Listing-image-item img {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    min-height: 0;
    min-width: 0;
    object-fit: contain;
    width: auto;
    z-index: 1;
}
.mp-Listing--list-item .mp-Listing-group {
    display: flex;
    margin-right: 8px;
    margin-left: 8px;
    flex-direction: column;
    flex-grow: 1;
}
.mp-Listing--list-item .mp-Listing-group--title-description-attributes {
    flex-direction: column;
}
.mp-Listing .mp-Listing-title {
    margin: -1px 0 0;
    font-family:Helvetica, Arial;
    font-style: normal;
    font-weight: 400;
    color: var(--mp-color-action,#00f);
    font-size: 14px;
    line-height: 24px;
    line-height: 20px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
}
.mp-Listing .mp-Listing-description {
    margin-top: 2px;
    color: var(--mp-color-text-and-icons);
    word-wrap: break-word;
    font-family:Helvetica, Arial;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
.mp-Listing-description {
    margin: 0;
}
.mp-Listing-description, .mp-Listing-priority, .mp-Listing-seller-logo, .mp-Listing-seller-name {
    display: none;
}
.mp-Listing .mp-Attribute--default {
    font-family:Helvetica, Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--mp-color-text-and-icons);
}
.mp-Listing--list-item .mp-Listing-group--price-date-feature {
    display: flex;
    max-width: 98%;
    flex-grow: 1;
}
.mp-Listing .mp-Listing-price {
    margin-bottom: 16px;
    font-size: 16px;
    color: var(--mp-color-text-and-icons);
}
.mp-Listing-date, .mp-Listing-distance, .mp-Listing-location, .mp-Listing-seller-name {
    font-family: Arial,sans-serif;
    font-family: var(--mp-font-base--light,"Arial",sans-serif);
    font-style: normal;
    font-weight: 300;
    color: #ccc;
    color: var(--mp-color-meta-text,#ccc);
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 12px;
}
.mp-Listing .mp-Listing-date {
    text-align: right;
}
.mp-Listing-date--desktop {
    display: none;
}
.mp-Listing-priority {
    color: var(--mp-color-signalling-success);
    font-size: 14px;
    line-height: 20px;
    margin-top: auto;
}
.mp-Listing-description, .mp-Listing-priority, .mp-Listing-seller-logo, .mp-Listing-seller-name {
    display: none;
}
.mp-Listing--list-item .mp-Listing-group--mobile-bottom-row {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
}
.mp-Listing--list-item .mp-Listing-seller-link {
    width: 85%;
    margin-top: auto;
    pointer-events: auto;
}
.mp-Listing--list-item .mp-Listing-seller-link a {
    font-size: 12px;
    width: fit-content;
}
.mp-Listing--list-item .mp-Listing-group--mobile-bottom-row .mp-bottom-right {
    text-align: right;
}
.mp-Listing--list-item .mp-Listing--sellerInfo {
    display: none;
}
.mp-Listing-seller-name {
    margin-top: 2px;
}
.mp-Listing-location {
    text-overflow: clip!important;
    white-space: normal!important;
}
.mp-Listing--other-seller {
    display: none;
}
.mp-Listing-other-seller-content--left {
    width: 110px;
    display: flex;
    align-items: center;
}
.mp-Listing-other-seller-content--center {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    overflow: hidden;
    height: 60px;
    align-items: center;
}
.mp-Listing-other-seller-items {
    display: flex;
    margin-right: 8px;
}
.mp-Listing-other-seller-image-container {
    width: 60px;
    height: 60px;
}
.mp-Listing-other-seller-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.mp-Listing-other-seller-info-container {
    margin-left: 8px;
    height: 60px;
}
.mp-Listing-other-seller-content--center:hover .mp-Listing-other-seller-info-container, .mp-Listing-other-seller-info-container {
    width: 0;
    overflow: hidden;
    transition: width .25s;
}
.mp-Listing-other-seller-info-container .mp-TextLink {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}
.mp-Listing-other-seller-info-container .mp-text-price-label {
    font-size: 14px;
    color: initial;
}
.mp-Listing-other-seller-content--right {
    width: 120px;
}
.mp-Listing--cas {
    background-color: var(--mp-color-highlight-background);
}
.mp-Listings__admarktTitle {
    padding: 10px 0;
    color: var(--mp-color-meta-text);
    font-size: 12px;
    line-height: 16px;
}
/* pagenate control */
.mp-PaginationControls {
    margin-top: 24px;
    font-family:Helvetica, Arial;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
.mp-PaginationControls, .mp-PaginationControls-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mp-PaginationControls-pagination {
    width: 100%;
}

.mp-PaginationControls-pagination-pageList>* {
    padding: 4px;
    margin-right: 4px;
}
.mp-PaginationControls-pagination-pageList>a {
    cursor: pointer;
}
.mp-PaginationControls-pagination-amountOfPages {
    display: block;
}
.mp-PaginationControls .saveSearchControl {
    flex-grow: 0;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    text-align: right;
}
.mp-PaginationControls .saveSearchControl button {
    margin-left: 8px;
}
/* suggested search */
.mp-SuggestedSearches-container {
    width: 100%;
    padding-bottom: 4px!important;
    margin-top: 24px;
    margin-bottom: 24px;
}
.mp-Card-block {
    padding: 16px;
}
.mp-SuggestedSearches-container {
    width: 100%;
    padding-bottom: 4px!important;
    margin-top: 24px;
    margin-bottom: 24px;
    overflow: hidden;
}
.mp-SuggestedSearches-header {
    margin-bottom: 8px;
}
.mp-SuggestedSearches-content {
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.mp-SuggestedSearches-content a {
    margin: 0 4px;
    font-family:Helvetica, Arial;
    color: #116db4;
}
.mp-SuggestedSearches-content::-webkit-scrollbar {
    width: 0!important;
}
/* alert */
.mp-Alert, .mp-text-link--lrp {
    font-style: normal;
    font-size: 14px;
}
.mp-Alert {
    font-family:Helvetica, Arial;
    font-weight: 300;
    line-height: 20px;
    align-items: center;
    background-color: #fff;
    display: flex;
    padding: 16px 16px 16px 24px;
    position: relative;
    margin: 20px 0;
}
.mp-Alert.mp-Alert--success {
    background-color: #43aa8b;
    color: #fff;
}
.mp-Alert.mp-Alert--success a:not(.mp-Button), .mp-Alert.mp-Alert--success a:not(.mp-Button):active, .mp-Alert.mp-Alert--success a:not(.mp-Button):focus, .mp-Alert.mp-Alert--success a:not(.mp-Button):hover {
    color: #fff;
    text-decoration: underline;
}
.mp-Alert-icon {
    height: 32px;
    width: 32px;
    display: inline-block;
    flex-shrink: 0;
    margin: 0 8px auto 0;
    position: relative;
}
.mp-Alert-title {
    font-family:Helvetica, Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: block;
}
.mp-Alert.mp-Alert--error {
    background-color: #c5283d;
    color: #fff;
}

.mp-svg-alert--inverse, .mp-svg-alert-white {
    background: url(../../images/icons.png) no-repeat;
    background-size: auto 100%;
    background-position: 1.308889% 0px;
}

.mp-Alert-title:not(:last-child) {
    margin: 4px 0 12px;
}
/* popover */
.mp-Popover {
    border-radius: 3px;
    color: #000;
    position: absolute;
    background: #fff;
    right: 0;
    min-width: 300px;
    top: 0;
    transform: translateX(100%) translateY(calc(-20% - 15px));
    margin: 10px -10px;
    padding: 20px;
    text-align: center;
    z-index: 9999;
    box-shadow: 0 10px 20px rgba(45,60,77,.3);
}
.mp-Popover--arrow:after {
    right: 100%;
    top: 20%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 10px solid hsla(0,0%,100%,0);
    border-right-color: #fff;
    margin-top: -10px;
}
/* desktop notification prompt */
.mp-DesktopNotificationsPrompt {
    transition: all .25s ease-in-out;
    display: none;
    opacity: 0;
    right: -60px;
}
.mp-DesktopNotificationsPrompt-dismiss-popover-button {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    min-height: 0;
}
.mp-DesktopNotificationsPrompt-icon {
    margin-top: -12px;
    width: 92px;
    height: 92px;
}
.mp-DesktopNotificationsPrompt-title {
    margin-top: 8px;
    font-weight: 400;
}
.mp-DesktopNotificationsPrompt-description {
    margin-top: 8px;
    padding: 0 8px;
}
.mp-DesktopNotificationsPrompt-primary-button {
    margin-top: 16px;
}
.mp-DesktopNotificationsPrompt-secondary-button {
    margin-top: 8px;
    margin-bottom: -4px;
}
/* carousel */
.carousel {
    visibility: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.carousel .carousel-button-previous {
    display: none;
}
.carousel.horizontal .carousel-button {
    padding: 0;
    width: 18px;
    height: 100%;
    margin-top: 5px;
}
.carousel.horizontal .carousel-button-previous {
    float: left;
    margin-right: 5px;
}
.carousel.horizontal .carousel-button-next {
    float: right;
    margin-left: 5px;
}
.carousel .carousel-viewport {
    overflow: hidden;
    position: relative;
}
.carousel.horizontal .carousel-viewport {
    white-space: nowrap;
    padding-top: 5px;
}
.carousel .thumb-placeholder {
    background: #fff no-repeat 50%;
    display: inline-block;
    vertical-align: middle;
}
.carousel .thumb-placeholder {
    border: 3px solid #2d3c4d;
}
.carousel.horizontal .thumb-placeholder {
    margin-right: 5px;
}
#vip-carousel .thumb-placeholder {
    width: 25%;
    height: 50px;
}
.carousel .thumb-placeholder.selected:before {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    border-width: 4px 4px 5px;
    left: 18px;
    top: -12px;
    border-color: transparent transparent #2d3c4d;
}
.carousel.horizontal .thumb-placeholder.selected:before {
    border-width: 4px 4px 5px;
    left: 50%;
    margin-left: -4px;
    top: -12px;
    border-color: transparent transparent #2d3c4d;
}
/* star rating */
.mp-StarRating {
    font-size: 0;
    line-height: 20px;
}
.mp-StarRating, .mp-StarRating i {
    display: inline-block;
    vertical-align: middle;
}
.mp-StarRating i {
    margin-top: -2px;
    height: 24px;
    width: 24px;
    background: url(../../images/icons.png) no-repeat;
    background-size: auto 100%;
    background-position: 76.52081109925294% 0;
}
.mp-StarRating.mp-StarRating--xs i {
    height: 16px;
    width: 16px;
}
.mp-StarRating i:nth-of-type(n+2) {
    margin-left: -4px;
}
.mp-StarRating.mp-StarRating--xs i:nth-of-type(n+2) {
    margin-left: -2px;
}
.mp-StarRating.mp-StarRating--5 i:nth-of-type(-n+5) {
    background: url(../../images/icons.png) no-repeat;
    background-size: auto 100%;
    background-position: 78.65528281750267% 0;
}
.mp-StarRating span {
    font-size: 14px;
    vertical-align: middle;
}
.mp-StarRating i+span, .mp-StarRating span+i {
    margin-left: 4px;
}
/* help article */
.article-info {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 6px;
    margin-top: 15px;
    margin-top: 15px;
    float: left;
    width: 100%;
}
.article-info {
    margin-top: 0;
    margin-top: 0;
    border: 0;
    border-bottom: 1px solid #F0EFED;
    position: relative;
    padding: 0;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);
    border-radius: 0;
}
.article-info * {
    font-size: 14px;
    font-family:Helvetica, Arial;
    font-weight: normal;
    color: inherit;
    line-height: 15px;
}
.article-info .article-detail {
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 16px;
    padding-right: 24px;
    position: relative;
    display: block;
    overflow: auto;
}
.article-info:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.article-info a {
    color: #333435;
    text-decoration: underline;
}
.article-info a {
    word-break: break-all;
}
.article-info a.article-title-link {
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 16px;
    padding-right: 64px;
    position: relative;
    display: block;
}
.article-info a.article-title-link, .article-info a.article-title-link:hover div, .article-info a.article-title-link:visited div, .article-info a.article-title-link:link div {
    text-decoration: none !important;
    min-height: 100px;
}
.article-title {
    cursor: pointer;
    width: 100%;
    display: inline-block;
}
.article-info .article-title, .article-info .article-title span {
    color: #116DB4 !important;
    font-size: 16px;
    padding-bottom: 5px;
}
.question-header {
    float: left;
    display: table-cell;
    width: 60%;
}
.article-info .article-question {
    color: #2D3C4D !important;
    font-size: 14px;
    line-height: 24px;
    font-family:Helvetica, Arial;
    font-weight: normal;
}
.article-info .article-answer {
    color: #2D3C4D !important;
    font-size: 14px;
    line-height: 16px;
}
.article-info .article-answer * {
    font-family: Arial !important;
    font-weight: 300;
    color: #2c3d4c;
    line-height: 20px;
}
.article-info .article-answer a, .article-info .article-answer a font {
    font-family: Helvetica, Arial !important;
    font-weight: normal !important;
    color: #116DB4 !important;
    text-decoration: none !important;
}
.article-info .article-answer.shortHeight {
    max-height: 16px;
    overflow: hidden;
    display: block;
}
.article-info b {
    font-weight: 600 !important;
}
.article-info ul {
    list-style: outside;
    margin: 1em 1em 1em 40px;
    color: #000;
}
.article-info h1, .article-info h2, .article-info h3, .article-info h4, .article-info h5, .article-info h6 {
    display: block;
    font-weight: bold !important;
    margin: 1em 0 !important;
    padding: 0 !important;
    text-align: left;
    color: #000;
}
.article-info h3 {
    font-size: 108% !important;
}
.article-info ol, .article-info ul {
    margin: 1em 1em 1em 40px;
}
.article-info ol li {
    list-style: decimal;
}
.article-info ul li{
    list-style: outside;
}
.feedback-radio-group {
    padding-left: 10px;
}
.article-feedback input {
    padding: 5px 0px;
    margin: 0 5px;
}
.rate-article {
    width: 100%;
    padding-top: 10px;
    float: left;
    vertical-align: top;
    font-size: 13px;
}
.rate-article * {
    line-height: normal;
    font-size: 14px;
}
.radio-btn {
    color: #51606f;
}
.feedback-radio-group label {
    border: 1px solid #cbcbcb;
}
.radio-btn:hover {
    background-color: #e7f0f6 !important;
    color: #51606f;
}
/* breadcumb */
.mp-breadcrumb {
    margin-bottom: 24px;
    font-family:Helvetica, Arial;
    font-weight: normal;
    padding: 0px;
    list-style: outside none none;
}
.mp-breadcrumb > li {
    display: inline-block;
    padding: 0px;
    vertical-align: top;
}
.mp-breadcrumb i {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 0;
    margin-top: -4px;
    vertical-align: middle;
    margin-right: 4px;
    font-size: 0.7em;
}

/* page */
.mp-Page *,.mp-Page :after,.mp-Page :before {
    box-sizing: border-box
}

.mp-Page-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    min-height: 100vh;
    padding: 0
}

.mp-Page--wide .mp-Page-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    width: 100%;
    max-width: 1140px
}

.mp-Page-container {
    flex: 1 0 auto
}

.mp-Page-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    width: 100%;
    display: flex;
    flex-wrap: wrap
}

.mp-Page-content--special .mp-Page-element--main {
    order: -1
}

.mp-Page-content--special .mp-Page-element--aside {
    order: 13
}

.mp-Page-content .mp-Page-element--full-width {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%
}

@media (min-width: 480px) {
    .mp-Page-content .mp-Page-element--full-width {
        flex:0 0 100%;
        max-width: 100%
    }
}

@media (min-width: 768px) {
    .mp-Page-content .mp-Page-element--full-width {
        flex:0 0 100%;
        max-width: 100%
    }
}

@media (min-width: 992px) {
    .mp-Page-content .mp-Page-element--full-width {
        flex:0 0 100%;
        max-width: 100%
    }
}

@media (min-width: 1200px) {
    .mp-Page-content .mp-Page-element--full-width {
        flex:0 0 100%;
        max-width: 100%
    }
}

.mp-Page-content .mp-Page-element--main {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%
}

@media (min-width: 480px) {
    .mp-Page-content .mp-Page-element--main {
        flex:0 0 100%;
        max-width: 100%
    }
}

@media (min-width: 768px) {
    .mp-Page-content .mp-Page-element--main {
        flex:0 0 79.16667%;
        max-width: 79.16667%
    }
}

@media (min-width: 992px) {
    .mp-Page-content .mp-Page-element--main {
        flex:0 0 79.16667%;
        max-width: 79.16667%
    }
}

@media (min-width: 1200px) {
    .mp-Page-content .mp-Page-element--main {
        flex:0 0 79.16667%;
        max-width: 79.16667%
    }
}

.mp-Page-content .mp-Page-element--aside {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%
}

@media (min-width: 480px) {
    .mp-Page-content .mp-Page-element--aside {
        flex:0 0 100%;
        max-width: 100%
    }
}

@media (min-width: 768px) {
    .mp-Page-content .mp-Page-element--aside {
        flex:0 0 20.83333%;
        max-width: 20.83333%
    }
}

@media (min-width: 992px) {
    .mp-Page-content .mp-Page-element--aside {
        flex:0 0 20.83333%;
        max-width: 20.83333%
    }
}

@media (min-width: 1200px) {
    .mp-Page-content .mp-Page-element--aside {
        flex:0 0 20.83333%;
        max-width: 20.83333%
    }
}

.mp-Page-wrapper {
    background-color: #f0efed
}
