{% extends "account.master" %}

{% block user_area %}
   <section id="content">
                    <h2>My profile</h2>

                    <div class="profile canvas">
                        <div class="profile-block">
                            <div class="mp-Card mp-Card--rounded">
                                <div class="mp-Card-block">
                                    <div class="profile-content-wrapper">
                                        <div class="ellipsis profile-block-title">Edit profile</div>
                                        <div class="profile-block-content">
                                            Personalize your own profile page for the future sellers/buyers!
                                        </div>
                                    </div>
                                    <a href="/account/edit_profile/me" class="secondary sm mp-Button mp-Button--secondary mp-Button--sm">
                                    <span>Edit</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-block">
                            <div class="mp-Card mp-Card--rounded">
                                <div class="mp-Card-block">
                                    <div class="profile-content-wrapper">
                                        <div class="ellipsis profile-block-title">Change Password or PIN</div>
                                        <div class="ellipsis profile-block-content">
                                            Edit your Password or Withdraw PIN
                                        </div>
                                    </div>
                                    <a href="/account/change_password" class="secondary sm mp-Button mp-Button--secondary mp-Button--sm">
                                    <span>Edit</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-block">
                            <div class="mp-Card mp-Card--rounded">
                                <div class="mp-Card-block">
                                    <div class="profile-content-wrapper">
                                        <div class="ellipsis profile-block-title">Disputes</div>
                                        <div class="profile-block-content">
                                            Browse through your disputes.
                                        </div>
                                    </div>
                                    <a href="/account/disputes" class="secondary sm mp-Button mp-Button--secondary mp-Button--sm">
                                    <span>Disputes</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-block">
                            <div class="mp-Card mp-Card--rounded">
                                <div class="mp-Card-block">
                                    <div class="profile-content-wrapper">
                                        <div class="ellipsis profile-block-title">PGP Key</div>
                                        <div class="ellipsis profile-block-content">
                                            Use secure encryption system as PGP
                                        </div>
                                    </div>
                                    <a href="/account/change_pgp" class="secondary sm mp-Button mp-Button--secondary mp-Button--sm">
                                    <span>Edit</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                         <div class="profile-block">
                            <div class="mp-Card mp-Card--rounded">
                                <div class="mp-Card-block">
                                    <div class="profile-content-wrapper">
                                        <div class="ellipsis profile-block-title">Bitcoin Multisig 2/3</div>
                                        <div class="ellipsis profile-block-content">
                                            Use Bitcoin Multisig 2/3 as your payment.
                                        </div>
                                    </div>
                                    <a href="/account/multisig" class="secondary sm mp-Button mp-Button--secondary mp-Button--sm">
                                    <span>Edit</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                      {% if auth_user().otp == 0 %}
                        <div class="profile-block">
                            <div class="mp-Card mp-Card--rounded">
                                <div class="mp-Card-block">
                                    <div class="profile-content-wrapper">
                                        <div class="ellipsis profile-block-title">Enable 2FA</div>
                                        <div class="profile-block-content">
                                            Secure your account against phishing attacks
                                        </div>
                                    </div>
                                    <a href="/account/change_pgp" class="secondary sm mp-Button mp-Button--secondary mp-Button--sm">
                                    <span>Protect me</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="profile-block">
                            <div class="mp-Card mp-Card--rounded">
                                <div class="mp-Card-block">
                                    <div class="profile-content-wrapper">
                                        <div class="ellipsis profile-block-title">Orders</div>
                                        <div class="profile-block-content">
                                            See all your orders
                                        </div>
                                    </div>
                                    <a href="/account/purchase-history " class="secondary sm mp-Button mp-Button--secondary mp-Button--sm">
                                    <span>Let me see</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-block mp-DesktopNotificationsProfileBlock">
                            <div class="mp-Card mp-Card--rounded">
                                <div class="mp-Card-block">
                                    <div class="profile-content-wrapper">
                                        <div class="ellipsis profile-block-title">Wallet</div>
                                        <div class="profile-block-content">
                                            See your wallets 
                                        </div>
                                    </div>
                                    <a href="/account/wallet" class="secondary sm mp-Button mp-Button--secondary mp-Button--sm">
                                    <span>Go</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-block mp-DesktopNotificationsProfileBlock">
                            <div class="mp-Card mp-Card--rounded">
                                <div class="mp-Card-block">
                                    <div class="profile-content-wrapper">
                                        <div class="ellipsis profile-block-title">Tickets</div>
                                        <div class="profile-block-content">
                                            Check here to see your tickets you made to the staff
                                        </div>
                                    </div>
                                    <a href="/account/tickets" class="secondary sm mp-Button mp-Button--secondary mp-Button--sm">
                                    <span>Go</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
{% endblock %}