<footer class="mp-FooterAlternative">
	<div>
		<a class="mp-TextLink mp-show-md" href="/help/1">
			<span>About Roman</span>
		</a>
		<a class="mp-TextLink mp-show-md" href="/help/3">
			<span>Buy Safe and
				                Successful</span>
		</a>
		<a class="mp-TextLink mp-show-sm" href="/help">
			<span>Help en Info</span>
		</a>
		<a class="mp-TextLink" href="http://dreadditevelidot.onion/d/RomanRoad">
			<span>Dread</span>
		</a>
         <a class="mp-TextLink" href="/account/apply_vendor">
			<span>Becoming a Vendor</span>
		</a>
		<a class="mp-TextLink" href="/help/5">
			<span>Learn how to use Multisig</span>
		</a>
        <a class="mp-TextLink" href="/pgp.txt">
			<span>PGP Key</span>
		</a>
	</div>
	<hr>
	<div class="mp-footertext">
		<span>Copyright © 2021-2022 The Roman Road (Upgraded)</span>
		<span>Server Time:
			{{ 'now'|date('d-m-Y H:i') }}</span>
	</div>

</footer>
