<div class="mp-Header-searchBar style-scope mp-Header">
    <div class="mp-Header-maxWidth style-scope mp-Header">
        <div class="header-illu mp-Alert mp-Alert--info-light"><span class="mp-Alert-icon mp-svg-info"></span>
            <div><span> Dont be stupid and verify our URL </span></div>
        </div>
        <form action="#" method="get">
            <button class="mp-Button mp-Button--secondary mp-Button--xs mp-SearchForm-search style-scope mp-Header"
                type="submit"><span class="mp-Icon mp-svg-search style-scope mp-Header"></span> <span
                    class="mp-show-md style-scope mp-Header"></span></button>
            <div class="mp-SearchFieldset-standard style-scope mp-Header">
                <div class="mp-SearchForm-query style-scope mp-Header">
                    <input class="mp-Input style-scope mp-autocomplete" id="input" name="query" type="text">
                </div>
            </div>
        </form>
    </div>
</div>