article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block
}

audio,canvas,video {
    display: inline-block
}

.mp-StarRating.mp-StarRating--xs i {
    height: 32px;
    width: 32px;
}
.show-avg-ratings th{
 padding: 10px;
background-color: #0B2A8A;
color: white;
}

 .show-avg-ratings td{
     text-align:center;
}

.mp-Tab--selected {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    border-bottom-color: #eda566;
    color: #2d3c4d;
    width: 15%;
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

a {
    background: transparent
}

a:focus {
    outline: thin dotted
}

a:active,a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

hr {
    box-sizing: content-box;
    height: 0
}

code,kbd,pre,samp {
    font-family: monospace,serif;
    font-size: 1em
}

pre {
    white-space: pre-wrap
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid #b6bbc1;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

button,input,select,textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button,input {
    line-height: normal
}

button,select {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    line-height: 1
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0
}

blockquote,body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

fieldset,img {
    border: 0
}

caption {
    text-align: left
}


.l-full-page {
    position: relative;
    padding: 20px 20px 40px
}

.l-footer,.l-header,.l-top-bar {
    max-width: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto
}

.l-side-left {
    display: none
}

.mp-StarRating.mp-StarRating--xs i {
    height: 32px;
    width: 32px;
}

.mp-PaginationControls {
    margin-top: 24px;
    font-family: Arial,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.mp-PaginationControls-pageSize {
    display: none;
    align-items: inherit;
}

@media (min-width: 480px) {
.mp-PaginationControls-pagination {
    width: auto;
    justify-content: start;
}

.mp-PaginationControls-pagination-pageList {
    display: flex;
}

.mp-PaginationControls-pageSize {
    display: inherit;
}
}


@media (min-width: 768px) {
.mp-Listing--list-item {
    flex-direction: row;
}
.mp-Listing--list-item .mp-Listing-group--title-description-attributes {
    flex-basis: 100%;
    flex-grow: 1;
    display: flex;
}
.mp-Listing .mp-Listing-title {
    font-size: 16px!important;
}

.mp-Listing--list-item .mp-Listing--sellerInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    width: 20%;
    margin-right: 4px;
}

.mp-Listing--list-item .mp-Listing-seller-link {
    width: 85%;
    margin-top: auto;
    pointer-events: auto;
}

.mp-Listing--list-item .mp-Listing--sellerInfo span {
    box-sizing: border-box;
}

.mp-Listing-date, .mp-Listing-distance, .mp-Listing-location, .mp-Listing-seller-name {
    font-size: 14px;
}

.mp-Listing-description, .mp-Listing-priority, .mp-Listing-seller-logo, .mp-Listing-seller-name {
    display: block;
}

.mp-Listing .mp-Listing-date, .mp-Listing .mp-Listing-location, .mp-Listing .mp-Listing-price {
    margin-bottom: 0;
    order: inherit;
}



.mp-Listing--list-item .mp-Listing-group--mobile-bottom-row {
    display: none;
}

.mp-StarRating.mp-StarRating--xs i {
    height: 32px;
    width: 32px;
}


.green {
    color: green;
    font-style: normal;
}

.red {
    color: red;
    font-style: normal;
}

.normal {
    color: black;
    font-style: normal;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

.form-field {
    /* position: static; */
    margin-bottom: 30px;
}

#report label {
    font-weight: bold;
}

.mp-Listing--list-item .mp-Listing-group--price-date-feature {
    align-items: flex-end;
    flex-grow: 0;
    flex-direction: column;
    flex-basis: 50%;
}

.mp-Listing--list-item .mp-Listing-group {
    flex-direction: row;
}

.mp-Listing--list-item .mp-Listing-image-container .mp-Listing-image-item img {
    height: inherit;
    object-fit: cover;
}

.mp-Listing--list-item .mp-Listing-image-container .mp-Listing-image-item {
    margin-bottom: 4px;
}

.mp-Listing--list-item .mp-Listing-image-container .mp-Listing-image-item--main {
    max-height: inherit;
    max-width: inherit;
}

.mp-Listing {
    padding: 8px;
}

.mp-Listing--list-item .mp-Listing-coverLink {
    min-height: 134px;
}

.mp-Listing-description, .mp-Listing-priority, .mp-Listing-seller-logo, .mp-Listing-seller-name {
    display: block;
}

.mp-Listing-attributes {
    margin-top: auto;
}

}

@media (min-width: 46.875em) {
    .l-side-left {
        display:block;
        width: 19.28104%;
        float: left;
        margin-right: 1.96079%
    }
}

.l-main-right {
    width: 100%;
    float: right;
    margin-right: 0
}

@media (min-width: 46.875em) {
    .l-main-right {
        width:78.75817%;
        float: right;
        margin-right: 0
    }
}

.l-side-right {
    width: 100%;
    float: right;
    margin-right: 0
}

@media (min-width: 46.875em) {
    .l-side-right {
        width:32.02614%;
        float: right;
        margin-right: 0
    }
}

.l-main-left {
    width: 100%;
    float: right;
    margin-right: 0
}

@media (min-width: 46.875em) {
    .l-main-left {
        width:66.01307%;
        float: left;
        margin-right: 1.96079%
    }
}

.l-footnote {
    border-top: 1px solid #e6e4e1;
    margin-top: 20px;
    padding-top: 10px;
    width: 100%
}

.l-footer:after,.l-header:after,.l-page:after,.l-top-bar:after {
    content: "";
    display: table;
    clear: both
}

* {
    box-sizing: border-box
}

body,html {
    height: 100%;
    color: #2d3c4d;
    font-family: Helvetica,sans-serif;
    font-family: var(--mp-font-base--light,"Helvetica",sans-serif);
    font-weight: 300
}

a,body,html {
    font-style: normal
}

a {
    color: #116db4;
    cursor: pointer;
    text-decoration: none;
    font-family: Helvetica,sans-serif;
    font-family: var(--mp-font-base,"Helvetica",sans-serif);
    font-weight: 400
}

a:hover {
    color: #1589e3
}

.touch a:hover {
    text-decoration: none
}

p {
    font-family: Helvetica,sans-serif;
    font-family: var(--mp-font-base--light,"Helvetica",sans-serif);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px
}

.juiceless-link {
    cursor: pointer;
    text-decoration: none
}

.hide {
    display: none
}

[data-cloak] {
    display: none!important
}

.wrapped {
    word-wrap: break-word
}

.clear-fix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden
}

.banner,.bot-index {
    display: none
}

.banner,.ellipsis {
    overflow: hidden
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis
}

.hidden {
    display: none
}


.tip {
    background-color: #fffbe3;
    border: 1px solid #e6e4e1;
    padding: 20px;
    width: 300px;
    float: right;
    font-size: 1em
}

.tip>h4 {
    font-size: 15px;
    font-weight: 700;
    background-image: url(/z/res/images/sprites/tns_white_small.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 5px 0 30px 40px
}

.tip ul {
    padding-left: 25px
}

.tip li {
    list-style: disc;
    padding-left: 10px;
    padding-bottom: 15px
}

textarea {
    padding: 10px 5px
}

.micro-tip {
    background-color: #116db4;
    color: #fff;
    padding: 2px 3px 0 1px;
    display: inline-block;
    font-weight: 700;
    font-size: 11px
}

#micro-tip {
    display: block;
    float: left;
    clear: both
}

.icon+span {
    vertical-align: middle
}

input.error-focus {
    height: 1px;
    width: 1px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0)
}

.extended-info {
    cursor: pointer
}

.extended-info.embedded-info {
    font-size: 1.2em
}

.extended-info:before {
    vertical-align: middle
}

@media screen and (max-width: 768px) {
    nav.minified>.search-breadcrumbs-content {
        margin:0;
        padding: 6px 12px
    }

    nav.minified>.search-breadcrumbs-content .mp-Nav-breadcrumb-item.crumb a {
        font-size: 13px;
        max-width: 86vw;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap
    }

    nav.minified>.search-breadcrumbs-content .mp-Nav-breadcrumb-item.crumb:after {
        max-height: 21px
    }

    nav.minified#search-breadcrumbs-pagination .mp-Nav-breadcrumb>* {
        display: none
    }

    nav.minified#search-breadcrumbs-pagination .mp-Nav-breadcrumb>h1,nav.minified#search-breadcrumbs-pagination .mp-Nav-breadcrumb>span,nav.minified#search-breadcrumbs-pagination .mp-Nav-breadcrumb h2:last-of-type {
        display: inline-block
    }

    nav.minified#vip-breadcrumbs-pagination .mp-Nav-breadcrumb>* {
        display: none
    }

    nav.minified#vip-breadcrumbs-pagination .mp-Nav-breadcrumb h2:last-of-type {
        display: inline-block
    }

    nav.minified#vip-breadcrumbs-pagination .mp-Nav-breadcrumb h2:last-of-type:after {
        transform: rotate(180deg)
    }
}


.sticker {
    padding: 0 .3em;
    display: inline-block;
    vertical-align: middle
}

.sticker.warranty {
    font-size: 14px;
    line-height: 1.2em;
    background-color: #fff;
    border: 1px solid #e6e4e1
}

.sticker.energy-label {
    position: relative;
    display: block;
    text-align: left;
    height: 35px;
    line-height: 35px
}

.sticker.energy-label.energy-rating-A {
    background-color: #349a37;
    border-color: #349a37
}

.sticker.energy-label.energy-rating-B {
    background-color: #74a72e;
    border-color: #74a72e
}

.sticker.energy-label.energy-rating-C {
    background-color: #b0c40b;
    border-color: #b0c40b
}

.sticker.energy-label.energy-rating-D {
    background-color: #f2e51b;
    border-color: #f2e51b
}

.sticker.energy-label.energy-rating-E {
    background-color: #fab519;
    border-color: #fab519
}

.sticker.energy-label.energy-rating-F {
    background-color: #ea6a1c;
    border-color: #ea6a1c
}

.sticker.energy-label.energy-rating-G {
    background-color: #e4312d;
    border-color: #e4312d
}

.energy-label:after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    border-left: 20px solid #2d3c4d;
    border-left-color: inherit;
    border-top: 18px solid transparent;
    border-bottom: 17px solid transparent
}

.sticker.grade {
    width: 50px;
    height: 50px;
    background-color: #116db4;
    text-align: center;
    padding: 12px 0;
    border-radius: 50%
}

.sticker.grade .number {
    color: #fff;
    font-size: 1.5em;
    line-height: 1.2em
}

.spec-table {
    margin-bottom: 20px
}

.spec-table,.spec-table .row {
    overflow: hidden
}

@media (min-width: 30em) {
    .spec-table .row:nth-child(odd) {
        background-color:#f3f7fc
    }
}

.spec-table .spec {
    padding: 0 10px;
    overflow: hidden
}

@media (min-width: 30em) {
    .spec-table .spec {
        width:49%;
        float: left;
        display: inline-block
    }
}

.spec-table .spec:nth-child(odd) {
    background-color: #f3f7fc
}

@media (min-width: 30em) {
    .spec-table .spec:nth-child(odd) {
        background-color:transparent
    }
}

@media (min-width: 30em) {
    .spec-table .spec+.spec {
        margin-left:2%
    }
}

.spec-table .key {
    margin-right: 2%
}

.spec-table .key,.spec-table .value {
    width: 49%;
    float: left;
    padding: 5px 0;
    font-size: 14px;
    line-height: 1.2em;
    display: inline-block
}

@media (min-width: 30em) {
    .spec-table_flex {
        overflow:hidden;
        display: flex;
        flex-wrap: wrap
    }

    .spec-table_flex--withOptions .spec-table-item:nth-last-child(2):nth-child(odd) .key,.spec-table_flex--withOptions .spec-table-item:nth-last-child(2):nth-child(odd) .value {
        width: calc((49% - 10px) * .49)
    }

    .spec-table_flex--withOptions .spec-table-item:nth-last-child(2):nth-child(odd) .key {
        margin-right: calc((49% - 10px) * .02)
    }
}

.spec-table_flex .spec-table-item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    padding: 0 10px;
    overflow: hidden
}

.spec-table_flex .spec-table-item:nth-child(odd) {
    background-color: #f3f7fc
}

@media (min-width: 30em) {
    .spec-table_flex .spec-table-item {
        flex-basis:49%;
        vertical-align: middle
    }

    .spec-table_flex .spec-table-item:nth-child(odd) {
        background-color: transparent
    }

    .spec-table_flex .spec-table-item:nth-child(odd)+.spec-table-item {
        flex-basis: 51%;
        padding-left: calc(2% + 10px)
    }

    .spec-table_flex .spec-table-item:nth-child(odd)+.spec-table-item--fullwidth {
        padding: 0 10px;
        flex-basis: 100%;
        background-color: #f3f7fc
    }

    .spec-table_flex .spec-table-item:nth-child(4n-2),.spec-table_flex .spec-table-item:nth-child(4n-3) {
        background-color: #f3f7fc
    }

    .spec-table_flex .spec-table-item:nth-child(4n-3)+.spec-table-item--fullwidth {
        background-color: transparent
    }

    .spec-table_flex .spec-table-item+.spec-table-item--fullwidth {
        padding: 0 10px;
        flex-basis: 100%
    }

    .spec-table_flex .spec-table-item+.spec-table-item--fullwidth .key,.spec-table_flex .spec-table-item+.spec-table-item--fullwidth .value {
        width: calc((49% - 10px) * .49)
    }

    .spec-table_flex .spec-table-item+.spec-table-item--fullwidth .key {
        margin-right: calc((49% - 10px) * .02)
    }

    .spec-table_flex .spec-table-item:last-child:nth-child(odd) .key,.spec-table_flex .spec-table-item:last-child:nth-child(odd) .value {
        width: calc((49% - 10px) * .49)
    }

    .spec-table_flex .spec-table-item:last-child:nth-child(odd) .key {
        margin-right: calc((49% - 10px) * .02)
    }
}

@media (-ms-high-contrast:none) and (min-width: 30em) {
    .spec-table_flex .spec-table-item,.spec-table_flex .spec-table-item:nth-child(odd)+.spec-table-item,.spec-table_flex ::-ms-backdrop {
        flex-basis:calc(49% - 20px)
    }

    .spec-table_flex .spec-table-item:nth-child(odd)+.spec-table-item--fullwidth,.spec-table_flex ::-ms-backdrop {
        flex-basis: 100%
    }
}

.no-image-placeholder {
    align-items: center;
    color: #8f97a1;
    display: flex;
    font-size: 13px;
    height: 100%;
    z-index: 1
}

.no-image-placeholder .placeholder-content {
    width: 100%
}

.no-image-placeholder .mp-Icon {
    margin-top: -10px;
    opacity: .4
}

.no-image-placeholder .heading {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase
}

.no-image-placeholder p {
    white-space: normal
}

.marker-label-selected,.marker-label-unselected {
    border-radius: 12px;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    line-height: 20px;
    min-width: 24px;
    padding: 1px 6px;
    text-align: center;
    white-space: nowrap
}

.marker-label-unselected {
    background-color: #116db4;
    box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.14)
}

.marker-label-selected {
    background-color: #eda566
}

.map-banner {
    display: none
}

@media (min-width: 768px) {
    .map-banner {
        display:block;
        height: 114px;
        margin-bottom: 20px;
        padding: 12px 0;
        text-align: center
    }
}

.map-container {
    border: 1px solid #b6bbc1;
    background-color: #fff;
    width: 100%;
    height: 250px
}

@media (min-width: 46.875em) {
    .map-container {
        height:400px
    }
}

.map-disclaimer {
    font-family: Helvetica,sans-serif;
    font-family: var(--mp-font-base--light,"Helvetica",sans-serif);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #818a95;
    color: var(--mp-color-meta-text,#818a95);
    margin-top: 5px
}

.empty-state {
    position: relative;
    text-align: center
}

.empty-state .heading {
    font-family: Arial,"serif";
    font-family: var(--mp-font-accent--light,"Arial","serif");
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #818a95;
    margin: 0 0 6px
}

.empty-state .mp-Icon.sdk-custom {
    width: 60px;
    height: 60px;
    margin-bottom: 12px
}

.empty-state-content {
    position: relative;
    top: 120px
}

.empty-state-text {
    font-family: Helvetica,sans-serif;
    font-family: var(--mp-font-base--light,"Helvetica",sans-serif);
    font-style: normal;
    font-weight: 300;
    color: #818a95;
    color: var(--mp-color-meta-text,#818a95);
    font-size: 14px;
    line-height: 20px;
    margin: 20px 20%
}

.empty-state-background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.hill-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0
}

.hill-left-wrapper {
    height: 100px;
    min-width: 500px;
    max-width: 900px;
    left: 0
}

.hill-right-wrapper {
    height: 120px;
    min-width: 300px;
    max-width: 700px;
    right: 0
}

.hill {
    bottom: 0;
    left: 0;
    height: 100%;
    transition: transform .1s;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.hill,.sky-wrapper {
    position: absolute;
    width: 100%
}

.sky-wrapper {
    height: 120px;
    top: 0
}

@media (min-width: 768px) {
    .sky-wrapper {
        height:200px
    }
}

.sky {
    height: 100%;
    position: absolute;
    right: -30%;
    top: 0;
    width: 150%
}

.cloud {
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.cloud.cloud-1 {
    transform: translate3d(20px,0,0);
    animation: a 80s linear infinite;
    animation-delay: 20s
}

.cloud.cloud-2 {
    animation: b 50s linear infinite;
    animation-delay: -30s
}

.cloud.cloud-3 {
    animation: c 70s linear infinite;
    animation-delay: -25s
}

.cloud.cloud-4 {
    animation: d 40s linear infinite;
    animation-delay: -4s
}

@keyframes a {
    0% {
        transform: translate3d(20px,0,0)
    }

    to {
        transform: translate3d(-120px,0,0)
    }
}

@keyframes b {
    0% {
        transform: translate3d(70px,0,0)
    }

    to {
        transform: translate3d(-120px,0,0)
    }
}

@keyframes c {
    0% {
        transform: translate3d(70px,0,0)
    }

    to {
        transform: translate3d(-90px,0,0)
    }
}

@keyframes d {
    0% {
        transform: translate3d(70px,0,0)
    }

    to {
        transform: translate3d(-70px,0,0)
    }
}


.block {
    margin: 12px 0 0;
    height: 48px;
    line-height: 48px;
    display: none
}

.block .img {
    vertical-align: middle;
    margin: 0 12px
}

.progress-block {
    background-color: #fffbe3;
    border: 1px solid #e6e4e1;
    color: #2d3c4d;
    opacity: .9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90)
}

.notification.dismiss {
    position: fixed;
    left: 10px;
    max-width: 980px;
    top: 10px;
    z-index: 3000080;
    right: 10px;
    margin: 0 auto
}

.notification.dismiss .close {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    padding: 10px;
    color: #2d3c4d;
    margin: 0;
    cursor: pointer
}

.save-seller-button {
    float: right;
    margin: 0 0 10px 10px
}

@media screen and (max-width: 46.875em) {
    .save-seller-button .button {
        background:none;
        border: 0;
        box-shadow: none
    }
}

.profile-head {
    position: relative;
    font-family: Helvetica,sans-serif;
    font-family: var(--mp-font-base--light,"Helvetica",sans-serif);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px
}

.profile-head-backdrop {
    min-height: 118px;
    overflow: hidden;
    position: relative;
    width: 100%
}

@media (min-width: 46.875em) {
    .profile-head-backdrop {
        min-height:190px
    }
}

.profile-head-backdrop-stretchy {
    background: no-repeat 50%;
    background-size: cover;
    background-color: #dfdfdb;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.profile-head-heel {
    background-color: #2d3c4d;
    min-height: 52px;
    overflow: hidden;
    position: relative;
    width: 100%
}

@media (min-width: 46.875em) {
    .profile-head-heel {
        min-height:76px
    }
}

.profile-head-image {
    align-items: center;
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid #fff;
    bottom: 10px;
    box-shadow: 2px 2px 4px 0 hsla(0,0%,100%,.4);
    display: flex;
    height: 72px;
    justify-content: center;
    left: 16px;
    position: absolute;
    width: 72px
}

.profile-head-image img {
    max-height: 100%;
    max-width: 100%
}

.profile-head-image .profile-head-image-placeholder {
    height: 50px;
    opacity: .6;
    width: 50px
}

@media (min-width: 46.875em) {
    .profile-head-image {
        bottom:20px;
        height: 150px;
        left: 46px;
        width: 150px
    }

    .profile-head-image .profile-head-image-placeholder {
        height: 100px;
        width: 100px
    }
}

.profile-head-title {
    bottom: 10px;
    left: 104px;
    position: absolute
}

.profile-head-title .profile-head-title-name {
    font-family: Helvetica,sans-serif;
    font-family: var(--mp-font-base--light,"Helvetica",sans-serif);
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px
}

@media (min-width: 46.875em) {
    .profile-head-title .profile-head-title-name {
        font-family:Arial,"serif";
        font-family: var(--mp-font-accent--light,"Arial","serif");
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px
    }
}

.profile-head-title .profile-head-title-slogan {
    margin-top: 4px
}

@media (min-width: 46.875em) {
    .profile-head-title .profile-head-title-slogan {
        font-family:Arial,"serif";
        font-family: var(--mp-font-accent--light,"Arial","serif");
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        margin-top: 16px
    }
}

.profile-head-title .profile-head-title-name,.profile-head-title .profile-head-title-slogan {
    text-shadow: 0 2px 4px rgba(0,0,0,.05);
    color: #fff
}

@media (min-width: 46.875em) {
    .profile-head-title {
        bottom:20px;
        left: 216px
    }
}

.profile-head-info {
    overflow: hidden;
    padding-left: 104px;
    position: relative
}

.profile-head-info .review-5stars {
    cursor: pointer
}

.profile-head-info .profile-head-info-left {
    display: block;
    left: 16px;
    line-height: 24px;
    position: absolute;
    top: 11px
}

.profile-head-info .profile-head-info-left .rating-number {
    display: none
}

@media (min-width: 46.875em) {
    .profile-head-info .profile-head-info-left {
        left:46px;
        text-align: right;
        width: 150px
    }

    .profile-head-info .profile-head-info-left .rating-number {
        display: inline
    }
}

.profile-head-info .profile-head-info-item {
    display: block;
    color: #818a95;
    line-height: 24px
}

.profile-head-info .profile-head-info-item+.profile-head-info-item {
    margin-top: 6px
}

.profile-head-info .save-seller-button {
    position: absolute;
    left: 22px;
    bottom: -2px
}

.profile-head-info .review-number {
    display: inline-block;
    min-width: 24px;
    text-align: right
}

@media (min-width: 46.875em) {
    .profile-head-info .profile-head-info-item {
        float:left;
        margin-right: 20px
    }

    .profile-head-info .profile-head-info-item+.profile-head-info-item {
        margin-top: 0
    }

    .profile-head-info .save-seller-button {
        bottom: inherit;
        left: inherit;
        right: 20px;
        top: 50%;
        transform: translateY(-50%)
    }
}

.profile-head-tab {
    text-align: center
}

@media (min-width: 46.875em) {
    .profile-head-tab {
        text-align:left
    }
}

.mp-Card-block.mp-Card-block--custom-padtop {
    padding: 8px 0 0
}

@media (min-width: 46.875em) {
    .mp-Card-block.mp-Card-block--custom-padtop {
        padding:8px 0 0 208px
    }
}

.mp-Card-block.mp-Card-block--custom-padleft {
    padding: 12px 12px 12px 102px
}

@media (min-width: 46.875em) {
    .mp-Card-block.mp-Card-block--custom-padleft {
        padding:12px 12px 12px 216px
    }
}

#save-seller-button .follow-label {
    display: none
}

@media (min-width: 46.875em) {
    #save-seller-button .follow-label {
        display:inline;
        margin-left: 12px
    }
}

*,:after,:before {
    box-sizing: border-box
}

#review-dialog {
    font-family: Helvetica,sans-serif;
    font-family: var(--mp-font-base--light,"Helvetica",sans-serif);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px
}

#review-dialog .progress {
    height: 10px;
    width: 100%;
    margin-bottom: 8px
}

#review-dialog .progress .progress-bar {
    height: 10px
}

#review-dialog .review-body {
    line-height: 24px;
    position: relative;
    width: 100%
}

@media (min-width: 40em) {
    #review-dialog .review-body {
        margin-right:32px;
        width: 60%
    }
}

#review-dialog .review-body .review-dealer {
    word-wrap: break-word
}

#review-dialog .review-body .review-dealer h2 {
    display: inline-block
}

#review-dialog .review-body .review-dealer .mp-StarRating {
    display: block;
    margin-bottom: 4px
}

@media (min-width: 40em) {
    #review-dialog .review-body .review-dealer .mp-StarRating {
        display:inline-block;
        margin-left: 16px
    }
}

#review-dialog .review-body .review-dealer.review-dealer--with-score {
    margin-right: 60px
}

#review-dialog .review-scores {
    display: none;
    position: relative;
    width: 40%
}

#review-dialog .review-scores .review-score+.review-score {
    margin-top: 10px
}

#review-dialog .review-scores .mp-StarRating {
    margin-right: 16px
}

#review-dialog .review-scores .description {
    font-family: Helvetica,sans-serif;
    font-family: var(--mp-font-base--light,"Helvetica",sans-serif);
    font-style: normal;
    font-weight: 300;
    color: #818a95;
    color: var(--mp-color-meta-text,#818a95);
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    width: 100%
}

#review-dialog .review-scores .description .value {
    position: absolute;
    right: 0
}

@media (min-width: 40em) {
    #review-dialog .review-scores {
        display:block
    }
}

#review-dialog .score-overall {
    border-radius: 50%;
    position: absolute;
    right: 0;
    text-align: center;
    top: -4px
}

#review-dialog .reviews-heading {
    border-bottom: 1px solid #e6e4e1;
    border-top: 1px solid #e6e4e1;
    display: flex;
    overflow: hidden;
    position: relative
}

@media (min-width: 40em) {
    #review-dialog .reviews-heading .review-body {
        min-height:150px
    }
}

#review-dialog .reviews-heading .review-body .detail {
    margin-top: 10px
}

@media (min-width: 40em) {
    #review-dialog .reviews-heading .review-body .detail {
        bottom:0;
        position: absolute
    }
}

#review-dialog .reviews-heading .review-body .review-logo {
    display: flex;
    align-items: flex-end
}

#review-dialog .reviews-heading .review-body .review-logo span {
    padding-bottom: 6px
}

#review-dialog .reviews-heading .review-body .review-logo img {
    margin-left: 16px;
    height: 45px
}

#review-dialog .reviews-heading .review-body .review-provider {
    font-family: Helvetica,sans-serif;
    font-family: var(--mp-font-base--light,"Helvetica",sans-serif);
    font-style: normal;
    font-weight: 300;
    color: #818a95;
    color: var(--mp-color-meta-text,#818a95);
    font-size: 14px;
    line-height: 20px
}

@media (min-width: 40em) {
    #review-dialog .reviews {
        max-height:300px;
        overflow: auto
    }
}

#review-dialog .reviews .mp-Card-block+.mp-Card-block {
    border-top: 1px solid #fff
}

#review-dialog .reviews .review {
    background-color: #f7f7f6;
    display: flex;
    overflow: hidden
}

#review-dialog .reviews .review strong {
    font-weight: 400
}

#review-dialog .reviews .review .review-body .reviewer {
    margin-right: 40px;
    padding-bottom: 10px;
    word-wrap: break-word
}

#review-dialog .reviews .review .review-body .reviewer .reviewer-name {
    font-family: Arial,"serif";
    font-family: var(--mp-font-accent--light,"Arial","serif");
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px
}

#review-dialog .reviews .review .review-body .reviewer .mp-StarRating {
    display: block
}

@media (min-width: 40em) {
    #review-dialog .reviews .review .review-body .reviewer .mp-StarRating {
        display:inline-block;
        margin-left: 16px
    }
}

#review-dialog .reviews .review .review-body .reason {
    padding-top: 10px
}

#review-dialog .reviews .review .review-body .score-overall {
    height: 32px;
    width: 32px;
    font-weight: 700;
    background: #fff;
    color: #116db4;
    line-height: 32px
}

#review-dialog .reviews .review .review-scores .date {
    line-height: 22px;
    padding-bottom: 10px;
    text-align: right
}

#review-dialog .reviews .read-more {
    color: #116db4;
    text-decoration: none;
    cursor: pointer
}

#review-dialog .disclaimer {
    font-family: Helvetica,sans-serif;
    font-family: var(--mp-font-base--light,"Helvetica",sans-serif);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #818a95;
    color: var(--mp-color-meta-text,#818a95);
    border-top: 1px solid #b6bbc1
}


body {
    font-size: 1em;
    line-height: 1.2em
}

body h3.heading {
    font-family: Arial,"serif";
    font-family: var(--mp-font-accent--light,"Arial","serif");
    font-size: 18px;
    line-height: 22px
}

.l-main-left,.l-main-top,.l-side-right .contact-info {
    margin-bottom: 20px
}

.l-top-content {
    overflow: hidden;
    position: relative
}

@media (min-width: 46.875em) {
    .l-top-content {
        background-color:#f7f7f6
    }
}

.heading {
    margin-bottom: 12px
}

.dealer-awards ul,.dealer-description ul {
    margin: 20px 0 0 20px
}

.dealer-awards li,.dealer-description li {
    list-style: disc outside
}

.dealer-video {
    background-color: #2d3c4d;
    height: 180px;
    width: 100%
}

@media (min-width: 46.875em) {
    .dealer-video {
        height:340px
    }
}

.dealer-video .responsive-video-iframe {
    width: 100%;
    height: 100%;
    border: 0
}

.dealer-awards:not(:last-child),.dealer-description:not(:last-child),.dealer-video:not(:last-child) {
    margin-bottom: 24px
}

.contact-info .map-inline {
    width: 100%;
    height: 180px
}

.seller-info {
    display: flex
}

.seller-info .seller-info-logo {
    background-color: #fff;
    border-radius: 3px;
    border: .5px solid #e6e4e1;
    height: 72px;
    margin-right: 20px;
    width: 72px
}

.seller-info .seller-info-logo img {
    height: 100%;
    width: 100%
}

.seller-info .seller-info-links li+li {
    margin-top: 10px
}

.review-info .review-info-items {
    align-items: flex-end;
    display: flex;
    justify-content: space-between
}

.review-info .review-info-name {
    margin-top: 6px;
    text-align: right
}

.review-info .mp-StarRating {
    cursor: pointer
}

.empty-state {
    display: none
}

.empty-state .mp-Icon {
    opacity: .6
}

@media (min-width: 46.875em) {
    .empty-state {
        display:block;
        min-height: 400px
    }
}

.dealer-brands {
    display: flex;
    flex-wrap: wrap;
    margin: -10px
}

.dealer-brand {
    height: 70px;
    margin: 10px;
    position: relative;
    width: 100px
}

.dealer-brand img {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0
}


.mp-Listings--gallery-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.mp-Listing .mp-Listing-date {
    text-align: right;
}


.mp-Listing--gallery-item .mp-Listing-date, .mp-Listing--gallery-item .mp-Listing-location {
    font-family: Arial,sans-serif;
    font-family: var(--mp-font-base--light,"Arial",sans-serif);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #ccc;
    color: var(--mp-color-meta-text,#ccc);
    display: flex;
    align-items: center;
}

.mp-Listing-location {
    text-overflow: clip!important;
    white-space: normal!important;
}

.mp-Listing .mp-Listing-title {
    margin: -1px 0 0;
    font-family: Arial,sans-serif;
    font-family: var(--mp-font-base,"Arial",sans-serif);
    font-style: normal;
    font-weight: 400;
    color: #00f;
    color: var(--mp-color-action,#00f);
    font-size: 14px;
    line-height: 24px;
    line-height: 20px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
}

.mp-Listing--gallery-item .mp-Listing-title {
    height: 43px;
}

.mp-Listing .mp-Listing-price {
    margin-bottom: 16px;
    font-size: 16px;
    color: var(--mp-color-text-and-icons);
}




.mp-Listing--gallery-item a {
    height: 100%;
}

.mp-Listing a {
    text-decoration: none;
}

.mp-Listing--gallery-item .mp-Listing-image-container {
    background: var(--mp-color-controlbar-background);
    height: 200px;
    margin: -8px;
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}

.mp-Listing--gallery-item .mp-Listing-content {
    flex: 1 0 auto;
    justify-content: space-between;
    margin-top: 16px;
}

.mp-Listing--gallery-item .mp-Listing-image-container img {
    max-height: 100%;
    max-width: 100%;
}

.mp-Page *, .mp-Page :after, .mp-Page :before {
    box-sizing: border-box;
}




.mp-Listing--gallery-item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 2px;
    max-width: 48%;
    min-width: 48%;
}


@media screen and (min-width: 768px) {
.mp-Listing--gallery-item {
    max-width: 32%;
    min-width: 32%;
}
.mp-Listing .mp-Listing-title {
    font-size: 16px!important;
}

.mp-Listing .mp-Listing-date, .mp-Listing .mp-Listing-location, .mp-Listing .mp-Listing-price {
    margin-bottom: 0;
    order: inherit;
}

.mp-Listing .mp-Listing-date, .mp-Listing .mp-Listing-location, .mp-Listing .mp-Listing-price {
    margin-bottom: 0;
    order: inherit;
}

.mp-Listing .mp-Listing-date, .mp-Listing .mp-Listing-location, .mp-Listing .mp-Listing-price {
    margin-bottom: 0;
    order: inherit;
}


}

.mp-Listing--gallery-item:hover {
    box-shadow: 0 4px 8px 0 gray;
    transform: translateY(-1px);
    transition: box-shadow .25s ease-in-out,transform .25s ease-in-out
}


.mp-text-price-label {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}


