p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
label {
    margin-bottom: auto;
}
.mp-Page-element--breadCrumbAndSaveSearch .saveSearchControl {
    flex-grow: 0;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    text-align: right;
}
.mp-Page-element--breadCrumbAndSaveSearch .saveSearchControl p {
    width: 150px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #818a95;
}
.mp-Page-element--breadCrumbAndSaveSearch .saveSearchControl button {
    margin-left: 8px;
}
.mp-Page-element--aside {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.mp-Page-content .mp-Page-element--aside {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.mp-Filters {
    display: none;
}
.mp-Filter-heading {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    margin-bottom: 4px;
}
.mp-Filter-heading--3, .mp-Filter-heading h3 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}
.mp-Filter-heading--5, .mp-Filter-heading h5 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.mp-Filter {
    margin-bottom: 20px;
}
.mp-Filter-fields {
    overflow: hidden;
}
.mp-Filter-field-range {
    font-family: Arial,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    float: left;
    margin-right: 2%;
    max-width: 120px;
    width: 38%;
}
.mp-Filter input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
.mp-Filter .mp-Search-submit {
    max-width: 50px;
    padding: 0;
    width: 18%;
}
.mp-Filter .mp-Search-submit span {
    margin: 0!important;
}
.mp-Filter .mp-Tree-list {
    margin: 0;
    padding: 0;
}
.mp-Filter .mp-Tree-list li {
    font-family: Arial,sans-serif;
    font-family: var(--mp-font-base,"Arial",sans-serif);
    font-style: normal;
    font-weight: 400;
    color: #00f;
    color: var(--mp-color-action,#00f);
    font-size: 14px;
    line-height: 24px;
    list-style: none;
}
.mp-Filter .mp-Tree-list li:hover {
    background-color: var(--mp-color-highlight-background);
}
.mp-hidden, [hidden] {
    display: none!important;
}
.mp-Filter .mp-Tree-list .mp-State-icon {
    cursor: pointer;
    float: left;
    padding: 4px 8px 4px 0;
}
.mp-Filter .mp-Tree-list .mp-Level-one {
    font-weight: 700;
}
.mp-Filter .mp-Tree-list .mp-Level-one a {
    display: block;
    padding: 4px 0;
}
.mp-Filter .mp-Tree-list .mp-Level-two {
    display: none;
    margin-left: 24px;
}
.mp-Filter .mp-Tree-list .mp-Level-two:hover {
    text-decoration: none;
}
.mp-Filter .mp-Tree-list .mp-Level-two:hover span {
    text-decoration: underline;
}
.mp-Filter .mp-Tree-list .mp-Level-one--open~.mp-Level-two {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mp-Filter .mp-Tree-list .mp-Level-two a {
    padding: 2px 0 4px;
}
.mp-Filter .mp-Tree-list-item {
    margin-top: 8px;
}
.mp-Filter .mp-Tree-list-item:first-child {
    margin-top: 0;
}
.mp-Filter-counter {
    color: var(--mp-color-meta-text);
    padding-left: 4px;
    text-decoration: none;
}
.mp-Filter .mp-Tree-list .mp-Level-two--more {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    color: var(--mp-color-text-and-icons);
    cursor: pointer;
    font-style: italic;
    padding: 2px 0 4px;
}
.mp-Filter-attribute {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
.mp-Filter-attribute label {
    display: inline-block;
    width: 100%;
    color: var(--mp-color-filter-attribute);
    cursor: pointer;
    padding: 2px 0;
}
.mp-Filter-attribute label:hover {
    background-color: var(--mp-color-focus);
}
.mp-Filter-attribute input {
    margin-right: 8px;
}
.mp-Filter-attribute-counter {
    color: var(--mp-color-meta-text);
    padding-left: 4px;
    text-decoration: none;
}
.mp-Page-content .mp-Page-element--main {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.mp-ViewControl-group--functional-options {
    position: relative;
}
.mp-adsense-header-top.mp-text-meta {
    padding: 12px 0;
}
.adsense-position-bottom {
    width: 100%;
    background: var(--mp-color-cards-background);
    margin-bottom: 10px;
}
.adsense-position-bottom>div {
    margin: 0 auto;
}
/* ------------------------------------------------------------------------------------------------------------------- */
/*----------------------------------------------------- media query ---------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------- */
@media (min-width: 480px) {
    .mp-Page-content .mp-Page-element--aside {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mp-Page-content .mp-Page-element--main {
        flex: 0 0 100%;
        max-width: 100%;
    }
    /* pagenate control */
    .mp-PaginationControls-pagination {
        width: auto;
        justify-content: start;
    }
    .mp-PaginationControls-pagination-pageList {
        display: flex;
    }
    .mp-PaginationControls-pagination-amountOfPages {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .mp-Page-element--breadCrumbAndSaveSearch .saveSearchControl {
        display: none;
    }
    /* chips */
    .mp-Chips .chipsTitle {
        display: none;
    }
    /* viewcontrol */
    .mp-ViewControl {
        flex-wrap: wrap;
    }
    .mp-ViewControl-group--view-options {
        flex: 0 1 100%;
        margin-bottom: 4px;
    }
    .mp-ViewControl-group--view-options button {
        flex: 1;
    }
    .mp-ViewControl-group--functional-options {
        flex: 1;
        justify-content: center;
    }
    .mp-ViewControl-group--functional-options button {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        padding: 0;
        border: 0;
        background-color: transparent!important;
        box-shadow: none!important;
        vertical-align: middle;
        min-height: 0;
        display: flex;
        align-items: center;
    }
    .mp-ViewControl-group--functional-options button .mp-Button-icon {
        width: 24px;
        height: 24px;
        margin: 0 4px 0 0;
    }
    .mp-ViewControl-group--functional-options:nth-child(3) {
        display: flex;
    }
    .mp-ViewControl-group--functional-options .mp-ViewControl-sortByLabel {
        display: none;
    }
    .mp-ViewControl-group--functional-options select {
        height: 22px!important;
    }
    .mp-ViewControl-group--functional-options .mp-ViewControl-sort-button {
        position: absolute;
        width: 100%;
        pointer-events: none;
        background: var(--mp-color-screen-background)!important;
        display: flex;
        justify-content: center;
    }
    /* listing */
    .mp-Listing--list-item .mp-Listing-coverLink {
        min-height: 115px;
    }
    /* pagenate */
    .mp-PaginationControls .saveSearchControl {
        display: none;
    }
}
@media (min-width: 768px) {
    .mp-Page-content .mp-Page-element--aside {
        flex: 0 0 20.83333%;
        max-width: 20.83333%;
    }
    .mp-Filters {
        display: block;
        position: relative;
        z-index: 1;
        padding: 0;
    }
    .mp-Page-content .mp-Page-element--main {
        flex: 0 0 79.16667%;
        max-width: 79.16667%;
    }
    /* chips */
    .mp-Chips {
        position: sticky;
        padding: 10px 10px 5px 0;
    }
    /* viewcontrol */
    .mp-ViewControl-group--functional-options .mp-hide-desktop {
        display: none;
    }
    /* listing */
    .mp-Listing {
        padding: 8px;
    }
    .mp-Listing--list-item {
        flex-direction: row;
    }
    .mp-Listing--list-item .mp-Listing-coverLink {
        min-height: 134px;
    }
    .mp-Listing--list-item .mp-Listing-image-container .mp-Listing-image-item {
        margin-bottom: 4px;
    }
    .mp-Listing--list-item .mp-Listing-image-container .mp-Listing-image-item--main {
        max-height: inherit;
        max-width: inherit;
    }
    .mp-Listing--list-item .mp-Listing-image-container .mp-Listing-image-item img {
        height: inherit;
        object-fit: cover;
    }
    .mp-Listing--list-item .mp-Listing-group {
        flex-direction: row;
    }
    .mp-Listing--list-item .mp-Listing-group--title-description-attributes {
        flex-basis: 100%;
        flex-grow: 1;
        display: flex;
    }
    .mp-Listing .mp-Listing-title {
        font-size: 16px!important;
    }
    .mp-Listing-description, .mp-Listing-priority, .mp-Listing-seller-logo, .mp-Listing-seller-name {
        display: block;
    }
    .mp-Listing-attributes {
        margin-top: auto;
    }
    .mp-Listing--list-item .mp-Listing-group--price-date-feature {
        align-items: flex-end;
        flex-grow: 0;
        flex-direction: column;
        flex-basis: 50%;
    }
    .mp-Listing .mp-Listing-date, .mp-Listing .mp-Listing-location, .mp-Listing .mp-Listing-price {
        margin-bottom: 0;
        order: inherit;
    }
    .mp-Listing-date, .mp-Listing-distance, .mp-Listing-location, .mp-Listing-seller-name {
        font-size: 14px;
    }
    .mp-Listing-date--desktop {
        display: block;
    }
    .mp-Listing--list-item .mp-Listing-group--mobile-bottom-row {
        display: none;
    }
    .mp-Listing--list-item .mp-Listing-seller-link {
        width: 85%;
        margin-top: auto;
        pointer-events: auto;
    }
    .mp-Listing--list-item .mp-Listing-seller-link a {
        font-size: 14px;
    }
    .mp-Listing--list-item .mp-Listing--sellerInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
        width: 20%;
        margin-right: 4px;
    }
    .mp-Listing--list-item .mp-Listing--sellerInfo span {
        box-sizing: border-box;
    }
    .mp-Listing--other-seller {
        flex: 0 1 100%;
        display: flex;
        border-top: 1px dashed var(--mp-color-borders-on-brand);
        padding-top: 8px;
        margin-top: -2px;
        margin-bottom: 1px;
        position: relative;
    }
    /* suggested search */
    .mp-Card-block {
        padding: 20px;
    }
    .mp-SuggestedSearches-container {
        display: inline-flex;
    }

}
@media (min-width: 992px) {
    .mp-Page-content .mp-Page-element--aside {
        flex: 0 0 20.83333%;
        max-width: 20.83333%;
    }
    .mp-Page-content .mp-Page-element--main {
        flex: 0 0 79.16667%;
        max-width: 79.16667%;
    }
    /* listing */
    .mp-Listing-other-seller-content--center .mp-Listing-other-seller-items--default .mp-Listing-other-seller-info-container, .mp-Listing-other-seller-content--center:hover .mp-Listing-other-seller-items:hover .mp-Listing-other-seller-info-container {
        width: 205px;
    }
    .mp-Listing-other-seller-content--center:hover .mp-Listing-other-seller-info-container, .mp-Listing-other-seller-info-container {
        width: 0;
        overflow: hidden;
        transition: width .25s;
    }
}
@media (min-width: 1200px) {
    .mp-Page-content .mp-Page-element--aside {
        flex: 0 0 20.83333%;
        max-width: 20.83333%;
    }
    .mp-Page-content .mp-Page-element--main {
        flex: 0 0 79.16667%;
        max-width: 79.16667%;
    }
}


/* custom pagination */
.mp-PaginationControls {
    margin-top: 24px;
    font-family: Arial,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
.mp-PaginationControls-pageSize {
    display: none;
    align-items: inherit;
}
.mp-PaginationControls-pageSize-list {
    display: inherit;
    padding-inline-start: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.mp-PaginationControls-pageSize-list li {
    margin-left: 4px;
    padding-left: 4px;
    list-style: none;
    border-left: 1px solid var(--mp-color-borders);
}
.mp-PaginationControls-pageSize-list li a, .mp-PaginationControls-pageSize-list li span {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 32px;
}
.mp-PaginationControls-pageSize-list li {
    margin-left: 4px;
    padding-left: 4px;
    list-style: none;
    border-left: 1px solid var(--mp-color-borders);
}
.mp-PaginationControls-pageSize-list li:first-child {
    border-left: none;
}
.mp-PaginationControls-pageSize-list li a, .mp-PaginationControls-pageSize-list li span {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 32px;
}

@media screen and (min-width: 480px) {
    .mp-PaginationControls-pageSize {
        display: inherit;
    }
}

.mp-TopSection-Backdrop {
    min-height: 118px;
    overflow: hidden;
    position: relative;
    width: 100%
}

@media (min-width: 480px) {
    .mp-TopSection-Backdrop {
        min-height:190px
    }
}

.mp-TopSection-Backdrop--stretchy {
    background-size: cover;
    background: var(--mp-color-controlbar-background--dark) no-repeat 50%;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.mp-TopSection {
    background-color: var(--mp-color-cards-background-contrast);
    min-height: 52px;
    overflow: hidden;
    position: relative;
    width: 100%
}

@media (min-width: 480px) {
    .mp-TopSection {
        min-height:76px
    }
}

.mp-TopSection-image {
    align-items: center;
    background-color: var(--mp-color-cards-background);
    border-radius: 3px;
    border: 2px solid var(--mp-color-text-and-icons-contrast);
    bottom: 10px;
    box-shadow: 2px 2px 4px 0 var(--mp-color-transparent-black40);
    display: flex;
    height: 72px;
    justify-content: center;
    left: 16px;
    position: absolute;
    width: 72px
}

.mp-TopSection-image img {
    max-height: 100%;
    max-width: 100%
}

.mp-TopSection-image-placeholder {
    height: 50px;
    opacity: .6;
    width: 50px
}

@media (min-width: 480px) {
    .mp-TopSection-image {
        bottom:20px;
        height: 150px;
        left: 46px;
        width: 150px
    }

    .mp-TopSection-image-placeholder {
        height: 100px;
        width: 100px
    }
}

.mp-TopSection-TitleWrap {
    bottom: 10px;
    left: 96px;
    position: absolute
}

.mp-TopSection-TitleWrap-Name {
    font-family: Arial,sans-serif;
    font-family: var(--mp-font-base--light,"Arial",sans-serif);
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px
}

@media (min-width: 480px) {
    .mp-TopSection-TitleWrap-Name {
        font-family:Arial,sans-serif;
        font-family: var(--mp-font-accent--light,"Arial",sans-serif);
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px
    }
}

.mp-TopSection-TitleWrap-Slogan {
    margin-top: 4px
}

@media (min-width: 480px) {
    .mp-TopSection-TitleWrap-Slogan {
        font-family:Arial,sans-serif;
        font-family: var(--mp-font-accent--light,"Arial",sans-serif);
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        margin-top: 16px
    }
}

.mp-TopSection-TitleWrap-Name,.mp-TopSection-TitleWrap-Slogan {
    text-shadow: 0 2px 4px var(--mp-color-transparent5);
    color: var(--mp-color-focus--light)
}

@media (min-width: 480px) {
    .mp-TopSection-TitleWrap {
        bottom:20px;
        left: 216px
    }
}

.mp-SellerHeaderInfo {
    overflow: hidden;
    padding: 12px 12px 12px 96px;
    position: relative
}

.mp-SellerHeaderInfo-dialogLink {
    cursor: pointer
}

.mp-SellerHeaderInfo-left {
    display: block;
    left: 16px;
    line-height: 24px;
    position: absolute;
    top: 11px
}

.mp-SellerHeaderInfo-left .rating-number {
    display: none
}

@media (min-width: 480px) {
    .mp-SellerHeaderInfo-left {
        left:46px;
        text-align: right;
        width: 150px
    }

    .mp-SellerHeaderInfo-left .rating-number {
        display: inline
    }
}

.mp-SellerHeaderInfo-item {
    display: block;
    color: var(--mp-color-meta-text);
    line-height: 24px
}

.mp-SellerHeaderInfo-item+.mp-SellerHeaderInfo-item {
    margin-top: 6px
}

.mp-SellerHeaderInfo .mp-SaveSellerControl {
    position: absolute;
    left: 22px;
    bottom: -2px
}

.mp-SellerHeaderInfo .review-number {
    display: inline-block;
    min-width: 24px;
    text-align: right
}

@media (min-width: 480px) {
    .mp-SellerHeaderInfo {
        padding:12px 12px 12px 216px
    }

    .mp-SellerHeaderInfo-item {
        float: left;
        margin-right: 20px
    }

    .mp-SellerHeaderInfo-item+.mp-SellerHeaderInfo-item {
        margin-top: 0
    }

    .mp-SellerHeaderInfo .mp-SaveSellerControl {
        bottom: inherit;
        left: inherit;
        right: 20px;
        top: 50%;
        transform: translateY(-50%)
    }
}

.mp-SellerHeader {
    position: relative;
    font-family: Arial,sans-serif;
    font-family: var(--mp-font-base--light,"Arial",sans-serif);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px
}

